@model IEnumerable<Topppro.WebSite.Areas.Humanist.Models.DLCModel>

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-forms.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-icons.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-buttons.min.css")" />
}

<div class="title">
    <h1>Dashboard
    <small>Downloadable content available</small>
    </h1>
</div>

<p style="margin-top: 26px;">
    @foreach (var dlc in Model)
    {
        <a href="@dlc.Url" target="_blank" class="m-btn @dlc.Color">@dlc.Name <i class="@dlc.Icon"></i></a>
        <br />
    }
</p>
