@using Framework.MVC.Resources
@using Framework.MVC.Extensions
@using Topppro.Entities.Resources

@model Topppro.Entities.Serie

@{
    ViewBag.Title = PersistanceResource.Details;
}

<h2>@PersistanceResource.Details</h2>

<fieldset>
    <legend>@Ent_SerieResource._Caption</legend>

    <!--
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    -->

    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:400px;", id = "disabledInput", disabled = "disabled" })
    </div>

</fieldset>
<p>
    @Html.ActionLink(PersistanceResource.Edit, "Edit", new { id = Model.SerieId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
