@using Framework.MVC.Resources
@using Topppro.Entities.Resources
@using Topppro.WebSite.Areas.SecureSite.Extensions

@model Topppro.Entities.Serie

@{
    ViewBag.Title = PersistanceResource.Edit;
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    <fieldset>
        <legend>@Ent_SerieResource._Caption</legend>

        @Html.HiddenFor(model => model.SerieId)
        @Html.ValidationMessageFor(model => model.SerieId)

        @Html.EditorFor(m => Model)

        <p>
            <input class="btn btn-primary" type="submit" value="@PersistanceResource.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Validator()
}
