@using Framework.MVC.Resources
@using Framework.MVC.Extensions

@model IEnumerable<Topppro.Entities.Serie>

@{
    ViewBag.Title = PersistanceResource.Index;
}

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/SecureSite/Content/themes/base/jquery.ui.all.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/SecureSite/Content/jquery-ui.dataTables.css")" />
}

<h2>@PersistanceResource.Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!--

<table width="100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @PersistanceResource.Actions
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink(PersistanceResource.Edit, "Edit", new { id = item.SerieId }) |
                @Html.ActionLink(PersistanceResource.Details, "Details", new { id = item.SerieId }) |
                @Html.ActionLink(PersistanceResource.Delete, "Delete", new { id = item.SerieId })
            </td>
        </tr>
    }
    </tbody>
</table>
-->

<!-- Advanced Tables -->
<div class="panel panel-default">
<!--    <div class="panel-heading">
            @PersistanceResource.Index
    </div> -->
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @PersistanceResource.Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr class="odd gradeX">
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td class="center">
                            @Html.ActionLink(PersistanceResource.Edit, "Edit", new { id = item.SerieId }) | 
                            @Html.ActionLink(PersistanceResource.Details, "Details", new { id = item.SerieId }) | 
                            @Html.ActionLink(PersistanceResource.Delete, "Delete", new { id = item.SerieId })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
                            
    </div>
</div>
<!--End Advanced Tables -->

@section Scripts {

    <script type="text/javascript" src="@Url.Content("~/Areas/SecureSite/Scripts/jquery-1.10.2.js")"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Areas/SecureSite/Scripts/bootstrap.min.js")"></script>
    <!-- METISMENU SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Areas/SecureSite/Scripts/metisMenu/jquery.metisMenu.js")"></script>
     <!-- DATA TABLE SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Areas/SecureSite/Scripts/dataTables/jquery.dataTables.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/SecureSite/Scripts/dataTables/dataTables.bootstrap.js")"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#dataTables-example').dataTable();
            });
    </script>
         <!-- CUSTOM SCRIPTS -->
    <script type="text/javascript" src="@Url.Content("~/Areas/SecureSite/Scripts/custom.js")"></script>

<!--
    <script type="text/javascript" src="@Url.Content("~/Areas/SecureSite/Scripts/jquery.dataTables.min.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('table').dataTable({
                bJQueryUI: true
            });
        });
    </script>

-->

}
