@using Framework.MVC.Resources
@using Topppro.Entities.Resources

@model Topppro.Entities.Model

@{
    ViewBag.Title = PersistanceResource.Delete;
}

<h2>@PersistanceResource.Delete</h2>

<h3>@PersistanceResource.Delete_Message</h3>
<fieldset>
    <legend>@Ent_ModelResource._Caption</legend>

    @Html.DisplayForModel()

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input class="btn btn-danger" type="submit" value="@PersistanceResource.Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
