@using Framework.Common.Extensions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerie

<style type="text/css">
    h4
    {
        font-size: 20px;
        margin-top: 1.33em;
        margin-bottom: 1.33em;
    }
</style>

<div class="title">
    <h1>@Model.Serie.Name.ToUpper() <small>Series</small></h1>
</div>

<h4 style="color: #315F8D;"><b>@Html.Raw(Localization.Packs_Index_Soho_Title)</b></h4>
<h4>@Html.Raw(Localization.Packs_Index_Soho_Subtitle)</h4>
<p style="text-align: justify;">@Html.Raw(Localization.Packs_Index_Soho_Message)</p>

@Html.Catalog()

<a href="@Url.RouteUrl("Default", new { controller = "Public", action = "CustomSound" })" style="position:relative; left:-18px;">
    <img src="@Url.Content("~/Areas/Humanist/Content/Images/custom-sound-banner.jpg")" style="margin-bottom:1.33em" alt="Custom Sound" border="0" /></a>
