@model Topppro.Entities.Assn_CategorySerie

<li data-id="@Model.Id" style="text-align:right">
    <span class="pull-left"><b>@Model.Serie.Name</b></span>
    @if (Model.Assn_CategorySerieProduct.Any(e => e.Product.Assn_ProductRegion.Any(a => a.RegionId == (int)Topppro.Entities.Region_Enum.America)))
        {<span class="label label-primary">America</span>}
    @if (Model.Assn_CategorySerieProduct.Any(e => e.Product.Assn_ProductRegion.Any(a => a.RegionId == (int)Topppro.Entities.Region_Enum.Asia)))
        {<span class="label label-primary">Asia</span>}
    @if (Model.Assn_CategorySerieProduct.Any(e => e.Product.Assn_ProductRegion.Any(a => a.RegionId == (int)Topppro.Entities.Region_Enum.Europe)))
        {<span class="label label-primary">Europe</span>}
    @if (Model.Enabled)
        {<span class="label label-success"><i class="fa fa-eye" title="@Html.DisplayNameFor(model => model.Enabled)"></i></span>}
    @if (Model.AllowCompare)
        {<span class="label label-warning"><i class="fa fa-adjust" title="@Html.DisplayNameFor(model => model.AllowCompare)"></i></span>}
    <span class="label label-danger"><i class="fa fa-th" title="@Html.DisplayNameFor(model => model.ItemsPerLine)"></i> (@Model.ItemsPerLine)</span>
    <div class="btn-group">
        <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">
            Actions <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                @Html.ActionLink(string.Format("{0} ({1})", "Product", Model.Assn_CategorySerieProduct.Count), "Index", "AssnCategorySerieProduct",
                    new { id = Model.Id },
                    new { @title = string.Format("{0} ({1})", "Product", Model.Assn_CategorySerieProduct.Count) })
            </li>
            <li class="divider"></li>
            <li>
                @Html.ActionLink("Edit", "Edit", null,
                    new { id = Model.Id },
                    new { @class = "editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", "Edit", "Category/Serie") })
            </li>
            <li>
                @Ajax.ActionLink("Delete", "Delete", null,
                    new { id = Model.Id },
                    new AjaxOptions() { HttpMethod = "Post", Confirm = "Confirm Delete ?", OnSuccess = "el.remove();" },
                    new { @title = "Delete", @onclick = "el = $(this).parents('ol > li');" })
            </li>
        </ul>
    </div>
</li>
