@using Framework.MVC.Resources
@using Topppro.Entities.Resources
@using Topppro.WebSite.Areas.SecureSite.Resources

@model Topppro.Entities.Assn_CategorySerie

<li data-id="@Model.Id" style="text-align:right"><span class="pull-left"><b>@Model.Serie.Name</b></span>
    @if (Model.Enabled)
        { <i class="fa fa-eye" title="@Ent_AssnCategorySerieResource.Entity_Enabled"></i> }
    @if (Model.AllowCompare)
        { <i class="fa fa-adjust" title="@Ent_AssnCategorySerieResource.Entity_AllowCompare"></i> }
    <i class="fa fa-th" title="@Ent_AssnCategorySerieResource.Entity_ItemsPerLine"></i> (@Model.ItemsPerLine)
    <div class="btn-group">
		<button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">
            @PersistanceResource.Actions <span class="caret"></span></button>
		<ul class="dropdown-menu">
            <li>
                @Html.ActionLink(string.Format("{0} ({1})", Ent_ProductResource._Caption, Model.Assn_CategorySerieProduct.Count), "Index", "AssnCategorySerieProduct",
                    new { id = Model.Id },
                    new { @title = string.Format("{0} ({1})", Ent_ProductResource._Caption, Model.Assn_CategorySerieProduct.Count) })
            </li>
            <li class="divider"></li>
            <li>
                @Html.ActionLink(PersistanceResource.Edit, "Edit", null,
                    new { id = Model.Id },
                    new { @class = "editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", PersistanceResource.Edit, Ent_AssnCategorySerieResource._Caption) })
            </li>
            <li>
                @Ajax.ActionLink(PersistanceResource.Delete, "Delete", null,
                    new { id = Model.Id },
                    new AjaxOptions() { HttpMethod = "Post", Confirm = PersistanceResource.Delete_Message, OnSuccess = "el.remove();" },
                    new { @title = PersistanceResource.Delete, @onclick = "el = $(this).parents('ol > li');" })
            </li>
		</ul>
	</div>
</li>
