@using Framework.MVC.Extensions

@model Topppro.Entities.Package

<div class="form-group">
    @Html.LabelFor(model => model.ChildProductId)
    @Html.TextBoxFor(model => model.ChildProduct.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.InheritAttribute, new { disabled = "disabled" })
        @Html.DisplayNameFor(m => m.InheritAttribute)
    </label>
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.InheritHiRes, new { disabled = "disabled" })
        @Html.DisplayNameFor(m => m.InheritHiRes)
    </label>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Priority)
    @Html.TextBoxFor(model => model.Priority, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Enabled, new { disabled = "disabled" })
        @Html.DisplayNameFor(m => m.Enabled)
    </label>
</div>
