@using Framework.Common.Extensions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

<h4>@Model.Assn_CategorySerie.Serie.Name.ToUpper() Series</h4>
<div class="title">
    <h1>@Model.Product.Name.ToUpper()</h1>
</div>

@Html.Header()

<div style="margin-top:20px;">
    @Html.HiRes(new { style = "margin-right:85px;" })
    @Html.Software()
</div>

<img src="@Url.Content("~/Areas/Humanist/Content/Images/t20-content.jpg")" alt="@ViewBag.Title" 
        style="position: relative; left: -18px; margin-bottom: 20px;" />

<a href="https://itunes.apple.com/en/app/t20i/id950579631?mt=8#" target="_blank">
    <img src="@Url.Content("~/Areas/Humanist/Content/Images/t20-app.jpg")" alt="" 
        style="position: relative; left: 35px; margin-bottom: 20px;"/></a>
