@using Framework.Common.Extensions
@using System.Text.RegularExpressions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerie

<div id="@Model.Serie.Name.ToLower()" name="@Model.Serie.Name.ToLower()" class="title">
    <h1>@Model.Serie.Name.ToUpper()</h1>
</div>

<ul class="products">
@foreach (var assn in Model.Assn_CategorySerieProduct)
{
    <li>
        <a href="@Url.RouteUrl("Modules_HiRes", new { controller = ViewContext.RouteData.Values["controller"] })"
                    onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('@(string.Format("Image{0}", assn.Id))','','@(assn.Product.GetThumbs().Where(t => t.Contains("up")).DefaultIfEmpty<string>(Localization.Default_Coming_Soon).First())',1)">
            <span class="product_badge left">@assn.Product.Name.ToUpper()</span>
            <span class="product_badge right">
                <big>@(Regex.Match(assn.Product.Name, @"\d+").Value)"</big><small>@assn.Product.Model.Name.ToUpper()</small>
            </span>
            <img src="@(assn.Product.GetThumbs().Where(t => !t.Contains("up")).DefaultIfEmpty<string>(Localization.Default_Coming_Soon).First())" alt="@assn.Product.Name" name="@(string.Format("Image{0}", assn.Id))"
                width="173" height="143" border="0" id="@(string.Format("Image{0}", assn.Id))" />
            <ul class="highlights">
                @foreach (var bullet in assn.Product.Bullets)
                {
                    <li><span>@bullet.Value</span></li>
                }
            </ul>
        </a>
    </li>
}
</ul>
