@using Framework.MVC.Resources
@using Topppro.Entities.Resources

@model Topppro.Entities.Attribute

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="@PersistanceResource.Close">
        <span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">@PersistanceResource.Details</h4>
    <small>@Ent_AttributeResource._Caption</small>
</div>
<div class="modal-body">
    <fieldset>
        @Html.DisplayFor(model => Model)
    </fieldset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">
        @PersistanceResource.Close</button>
</div>
