@using Framework.MVC.Resources
@using Framework.MVC.Extensions
@using Topppro.Entities.Resources

@model IEnumerable<Topppro.Entities.Attribute>

@{
    Html.RenderAction("Toolbar", "Attribute", new { id = ViewBag.ProductId });
}

<table class="table table-striped table-bordered table-hover" id="attribute-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CultureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @PersistanceResource.Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Culture.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.Raw(item.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                <td>@item.Enabled.ToString().ToLower()</td>
                <td class="center">@Html.DisplayFor(modelItem => item.Id)</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {

        $('#attribute-list').dataTable({
            aoColumns: [
                    null,
                    null,
                    null,
                    null,
                    {
                        mRender: function (o, t, r) {

                            var tpl = '@Html.CheckBox(Html.NameFor(model => model.Enabled).ToString(), true, new { data_id = 0 })';

                            if (JSON.parse(o) === false)
                                tpl = '@Html.CheckBox(Html.NameFor(model => model.Enabled).ToString(), false, new { data_id = 0 })';

                            return tpl.replace(/0/g, r[5]);
                        }
                    },
                    {
                        bSortable: false,
                        mRender: function (o) {

                            var tpl = '@Html.ActionLink(PersistanceResource.Edit, "Edit", "Attribute", new { id = 0 }, new { @class = "editor-dialog", @role = "button", @type = "type-success", @title = string.Format("{0} {1}", PersistanceResource.Edit, Ent_AttributeResource._Caption) }) | ' +
                                      '@Html.ActionLink(PersistanceResource.Details, "Details", "Attribute", new { id = 0 }, new { @class = "display-dialog", @role = "button", @type = "type-success", @title = string.Format("{0} {1}", PersistanceResource.Details, Ent_AttributeResource._Caption) }) | ' +
                                      '@Ajax.ActionLink(PersistanceResource.Delete, "Delete", "Attribute", new { id = 0 }, new AjaxOptions() { HttpMethod = "Post", Confirm = PersistanceResource.Delete_Message, OnSuccess = "$('#attribute-list').dataTable().fnDeleteRow(el);" }, new { @role = "button", @onclick = "el = $(this).closest('tr');" })';

                            return tpl.replace(/0/g, o);
                        }
                    }
                ]
        });

        $('#attribute-list tbody').on('change', 'input[type=checkbox]', function(e) {
            
            var o =
                $(this);

            $.post('@Url.Action("Toggle", "Attribute")',
                { id: o.data('id'), propertyName: o.attr('name') });
        });

    });
</script>
