@using Framework.MVC.Resources
@using Framework.MVC.Extensions
@using Topppro.Entities.Resources

@model IEnumerable<Topppro.Entities.Bullet>

@{
    Html.RenderAction("Toolbar", "Bullet", new { id = ViewBag.ProductId });
}

<table class="table table-striped table-bordered table-hover" id="bullet-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CultureId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @PersistanceResource.Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Culture.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.Raw(item.Value)</td>
                <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                <td>@item.Enabled.ToString().ToLower()</td>
                <td class="center">@Html.DisplayFor(modelItem => item.Id)</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
       
        $('#bullet-list').dataTable({
            aoColumns: [
                    null,
                    null,
                    null,
                    null,
                    {
                        mRender: function (o) {

                            if (JSON.parse(o) === true)
                                return '@Html.CheckBox("enabled", true, new { disabled = "disabled" })';
                            else
                                return '@Html.CheckBox("enabled", false, new { disabled = "disabled" })';
                        }
                    },
                    {
                        bSortable: false,
                        mRender: function (o) {

                            var tpl = '@Html.ActionLink(PersistanceResource.Edit, "Edit", "Bullet", new { id = 0 }, new { @class = "editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", PersistanceResource.Edit, Ent_BulletResource._Caption) }) | ' +
                                      '@Html.ActionLink(PersistanceResource.Details, "Details", "Bullet", new { id = 0 }, new { @class = "display-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", PersistanceResource.Details, Ent_BulletResource._Caption) }) | ' +
                                      '@Ajax.ActionLink(PersistanceResource.Delete, "Delete", "Bullet", new { id = 0 }, new AjaxOptions() { HttpMethod = "Post", Confirm = PersistanceResource.Delete_Message, OnSuccess = "$('#bullet-list').dataTable().fnDeleteRow(el);" }, new { @role = "button", @onclick = "el = $(this).closest('tr');" })';
                            
                            return tpl.replace(/0/g, o);
                        }
                    }
                ]
        });
                
    })
</script>
