@using Framework.MVC.Resources
@using Topppro.Entities.Resources
@using Topppro.WebSite.Areas.SecureSite.Extensions

@model Topppro.Entities.Product

@{
    ViewBag.Title = PersistanceResource.Edit;
}

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/SecureSite/Scripts/dataTables/dataTables.bootstrap.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/SecureSite/Scripts/bootstrap-dialog/bootstrap-dialog.min.css")" />
    <style type="text/css">
        .modal-backdrop 
        {
            z-index: -1 !important;
        }
    </style>
}

<ul class="nav nav-tabs">
    <li class="active">
        <a href="#product" data-toggle="tab" aria-expanded="true">@Ent_ProductResource._Caption</a>
    </li>
    <li>
        <a href="#bullet" data-toggle="tab" aria-expanded="true">@Ent_BulletResource._Caption</a>
    </li>
    <li>
        <a href="#attribute" data-toggle="tab" aria-expanded="false">@Ent_AttributeResource._Caption</a>
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="product">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
            
            <fieldset>
                @Html.HiddenFor(model => model.ProductId)
                @Html.ValidationMessageFor(model => model.ProductId)

                @Html.EditorForModel()
                <p>
                    <input class="btn btn-primary" type="submit" value="@PersistanceResource.Save" />
                </p>
            </fieldset>
        }
    </div>
    <div class="tab-pane fade" id="bullet">
        @Html.Action("Index", "Bullet", new { id = Model.Id })
    </div>
    <div class="tab-pane fade" id="attribute">
        @Html.Action("Index", "Attribute", new { id = Model.Id })
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/tinymce/jquery.tinymce.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/dataTables/jquery.dataTables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/dataTables/dataTables.bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/bootstrap-dialog/bootstrap-dialog.min.js")" type="text/javascript"></script>
    @Html.Validator()
    
    <script type="text/javascript">
        
        var el;

        $(document).ajaxError(function (event, xhr, settings, error) {
            alert(xhr.responseText);
        });

        $(document).ready(function () {

            $(document).on('click', 'a.editor-dialog', function (e) {
                e.preventDefault();

                var obj =
                $(this);

                el =
                obj.closest('tr');

                BootstrapDialog.show({
                    type: obj.attr('type'),
                    title: obj.attr('title'),
                    message: function (dialog) {
                        var content =
                        $('<div></div>').load(obj.attr('href'));

                        return content;
                    },
                    buttons: [{
                        label: '@PersistanceResource.Close',
                        cssClass: 'btn-default',
                        action: function (dialog) {
                            dialog.close();
                        }
                    }, {
                        label: '@PersistanceResource.Save',
                        cssClass: 'btn-primary',
                        action: function (dialog) {

                            var button =
                                this;

                            var form =
                            dialog.getModalBody().find('form');

                            if (form.valid()) {
                                button.disable();
                                button.spin();

                                form.submit();
                            }
                        }
                    }],
                    onshown: function (dialog) {

                        var form =
                        dialog.getModalBody().find('form');

                        $.validator.unobtrusive.parse(form);
                    },
                    onhidden: function (dialog) {
                        var mce =
                        dialog.getModalBody().find('textarea');

                        mce.tinymce().remove();
                    }
                });
            })

            $(document).on('click', 'a.display-dialog', function (e) {
                e.preventDefault();

                var obj =
                $(this);

                BootstrapDialog.show({
                    type: obj.attr('type'),
                    title: obj.attr('title'),
                    message: function (dialog) {
                        var content =
                        $('<div></div>').load(obj.attr('href'));

                        return content;
                    },
                    buttons: [{
                        label: '@PersistanceResource.Close',
                        cssClass: 'btn-default',
                        action: function (dialog) {
                            dialog.close();
                        }
                    }],
                    onhidden: function (dialog) {
                        var mce =
                        dialog.getModalBody().find('textarea');

                        mce.tinymce().remove();
                    }
                });
            })

        });
    </script>
}
