@model Topppro.Entities.Serie

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    <fieldset>
        <legend>Serie</legend>

        @Html.HiddenFor(model => model.SerieId)
        @Html.ValidationMessageFor(model => model.SerieId)

        @Html.EditorFor(m => Model)

        <p>
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Partial("_Validator")
}
