@model IEnumerable<Topppro.Entities.Country>

@{
    ViewBag.Title = ":: Topp Pro Professional Audio Gear - Distributors ::";
}

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-forms.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-icons.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-buttons.min.css")" />
    <style type="text/css">
        #main
        {
            padding-top: 25px !important;
        }
        
        h2
        {
            font-size: 30px;
        }
        
        address
        {
            background-position: top right;
            background-repeat: repeat-y;
        }
    </style>
}

<div style="text-align:right;">
    <div class="m-input-prepend m-input-append">
        <span class="add-on m-btn black"><i class="icon-search icon-white">&nbsp;</i></span>
        @Html.TextBox("search", null, new { id="search", @class = "m-wrap m-ctrl-medium", placeholder = "Search..."})
    </div>
</div>

<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tbody>
        @Html.DisplayFor(m => Model)
    </tbody>
</table>

@section Scripts
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.livefilter-1.0/jquery.livefilter.min.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('#search').livefilter({ selector: 'div.country-group' });
        });
    </script>
}