@using Framework.MVC.Extensions

@model Topppro.Entities.Distributor

<div class="form-group">
    @Html.LabelFor(model => model.CountryId)
    @Html.TextBoxFor(model => model.Country.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CultureId)
    @Html.TextBoxFor(model => model.Culture.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Detail)
    @Html.TinyMceFor(model => model.Detail, TinyMcePresets.ReadOnly)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Priority)
    @Html.TextBoxFor(model => model.Priority, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Enabled, new { disabled = "disabled" })
        @Html.DisplayNameFor(m => m.Enabled)
    </label>
</div>
