@model Topppro.WebSite.Areas.SecureSite.Models.ImportModel

@Html.HiddenFor(model => model.EntityId)
@Html.ValidationMessageFor(model => model.EntityId)

<div class="form-group">
    @Html.LabelFor(model => model.File)
    @Html.TextBoxFor(model => model.File, new { @type = "file" })
    @Html.ValidationMessageFor(model => model.File, null, new { @class = "label label-danger" })
</div>
