@using Framework.Common.Extensions

@model IEnumerable<FileInfo>

@{
    ViewBag.Title = "Downloadable Content";
}

@section Styles {
    <style type="text/css">
        body {
	        background-image: url('@Url.Content("~/Content/Images/home-bottom-page.jpg")');
	        background-repeat: no-repeat;
            background-position: 0px 116px;
            background-attachment: fixed;
        }
        * {
            margin: 0; padding: 0;
        }
        ul {
            list-style-type: none;
            width: 500px;
        }
        h3 {
            font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
        }
        li img {
            float: left;
            margin: 0 15px 0 0;
        }
        li p {
            font: 200 12px/1.5 Georgia, Times New Roman, serif;
        }
        li {
            padding: 10px;
            overflow: auto;
        }
        li:hover {
            background: #eee;
            cursor: pointer;
        }
        a:link {
	        text-decoration: none;
	        color: blue;
        }
        a:visited {
	        text-decoration: none;
        }
        a:hover {
	        text-decoration: underline;
        }
        a:active {
	        text-decoration: none;
        }
    </style>
}

<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tbody>
        <tr height="400px" valign="top">
            <td>
                <h1>Downloadable Content</h1>
                <hr />
                @if (Model.IsEmpty())
                {
                    <p><b>No Content Available.</b></p>
                }
                else
                {
                <ul>
                    @foreach (var file in Model)
                    {
                        <li>
                            <img src="@Url.Content(string.Format("~/Content/Images/{0}.png", file.Extension.Strip('.')))" alt="@file.Name" />
                            <h4>
                                @file.Name (@string.Format("{0:0.##} Kbs.", (file.Length / 1024)))</h4>
                            <p>
                                <a href="@Url.Content(string.Format("~/Content/Downloads/{0}", file.Name))">Download</a></p>
                        </li>
                    }
                </ul>
                }
            </td>
        </tr>
    </tbody>
</table>
