@using Framework.MVC.Extensions

@model Topppro.Entities.Download


<div class="form-group">
    @Html.LabelFor(model => model.DownloadTypeId)
    @Html.TextBoxFor(model => model.DownloadType.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Resource)
    @Html.TextBoxFor(model => model.Resource, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CultureId)
    @Html.TextBoxFor(model => model.Culture.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextAreaFor(model => model.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Description)
    @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Priority)
    @Html.TextBoxFor(model => model.Priority, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Enabled, new { disabled = "disabled" })
        @Html.DisplayNameFor(m => m.Enabled)
    </label>
</div>

