<tr>
    <td>
        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="16" height="24">
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td align="center" bgcolor="@ViewBag.ButtonColor" class="@ViewBag.ButtonClass">
        <a href="@ViewBag.ButtonLink">@ViewBag.ButtonText</a>
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
    <td>
        &nbsp;
    </td>
</tr>
