@using Topppro.Entities
@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
    <!-- fwtable fwsrc="Sin título" fwpage="Página 1" fwbase="menu.jpg" fwstyle="Dreamweaver" fwdocid = "1026781304" fwnested="0" -->
    <tbody>
        <tr>
            <td colspan="13">
                <img src="@Url.Content(ImageResource.Menu)" alt="" usemap="#menu_Map" />
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = Category_Enum.Mixers.ToString() })"
                    onmouseover="MM_swapImage('MenuMIX','','@Url.Content(ImageResource.Menu_R6_C1_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C1)"
                        alt="mixers" name="MenuMIX" width="111" height="41" border="0" id="MenuMIX" /></a>
            </td>
            <td colspan="3">
                <a href="@Url.RouteUrl("Catalog", new { controller = Category_Enum.Speakers.ToString() })" 
                    onmouseover="MM_swapImage('MenuSPK','','@Url.Content(ImageResource.Menu_R6_C2_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C2)"
                        alt="speakers" name="MenuSPK" width="111" height="41" border="0" id="MenuSPK" /></a>
            </td>
            <td colspan="2">
                <a href="@Url.RouteUrl("Catalog", new { controller = Category_Enum.Packs.ToString() })" 
                    onmouseover="MM_swapImage('MenuPCK','','@Url.Content(ImageResource.Menu_R6_C5_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C5)"
                        alt="pa systems" name="MenuPCK" width="112" height="41" border="0" id="MenuPCK" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = Category_Enum.Wireless.ToString() })" 
                    onmouseover="MM_swapImage('MenuWIR','','@Url.Content(ImageResource.Menu_R6_C7_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C7)"
                        alt="wireless systems" name="MenuWIR" width="111" height="41" border="0" id="MenuWIR" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = Category_Enum.Amplifiers.ToString() })" 
                    onmouseover="MM_swapImage('MenuAMP','','@Url.Content(ImageResource.Menu_R6_C8_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C8)"
                        alt="amplifiers" name="MenuAMP" width="111" height="41" border="0" id="MenuAMP" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = Category_Enum.Processors.ToString() })" 
                    onmouseover="MM_swapImage('MenuPRO','','@Url.Content(ImageResource.Menu_R6_C9_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C9)"
                        alt="processors &amp; modules" name="MenuPRO" width="111" height="41" border="0" id="MenuPRO" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = Category_Enum.Install.ToString() })" 
                    onmouseover="MM_swapImage('MenuINS','','@Url.Content(ImageResource.Menu_R6_C10_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C10)"
                        alt="install" name="MenuINS" width="111" height="41" border="0" id="MenuINS" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Default", new { controller = "Distributor", action = "Index" })"
                    onmouseover="MM_swapImage('MenuDIS','','@Url.Content(ImageResource.Menu_R6_C11_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C11)"
                        alt="distributors" name="MenuDIS" width="111" height="41" border="0" id="MenuDIS" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = Category_Enum.Legacy.ToString() })"
                    onmouseover="MM_swapImage('MenuLEG','','@Url.Content(ImageResource.Menu_R6_C12_Up)',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content(ImageResource.Menu_R6_C12)"
                        alt="legacy models" name="MenuLEG" width="111" height="41" border="0" id="MenuLEG" /></a>
            </td>
            <td>
                <img src="@Url.Content("~/Content/Images/spacer.gif")" width="1" height="41" border="0" alt="" />
            </td>
        </tr>
    </tbody>
</table>
<map name="menu_Map" id="menu_Map">
    <area shape="circle" coords="82,66,55" href="@Url.RouteUrl("Landing", new { controller = "Home" })" alt="" target="_top" />
    <area shape="rect" coords="903,10,984,45" href="@Url.RouteUrl("Default", new { controller = "Home" })" alt="" target="_top" />
    <area shape="rect" coords="874,50,980,86" href="@Url.SwitchCulture()" alt="" target="_top" />
    <area shape="rect" coords="905,90,983,130" href="@Url.RouteUrl("Default", new { controller = "Public", action = "Software" })" alt="" target="_top" />
</map>
<script type="text/javascript">
MM_onLoad( MM_preloadImages(
'@Url.Content("~/Content/Images/menu_r3_c11-up.jpg")', '@Url.Content(ImageResource.Menu_R6_C1_Up)',
'@Url.Content(ImageResource.Menu_R6_C2_Up)', '@Url.Content(ImageResource.Menu_R6_C5_Up)',
'@Url.Content(ImageResource.Menu_R6_C7_Up)', '@Url.Content(ImageResource.Menu_R6_C8_Up)',
'@Url.Content(ImageResource.Menu_R6_C9_Up)', '@Url.Content(ImageResource.Menu_R6_C10_Up)',
'@Url.Content(ImageResource.Menu_R6_C11_Up)', '@Url.Content(ImageResource.Menu_R6_C12_Up)'
) ); </script> 