@using Topppro.Entities
@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@functions {

    void SetColors(int modelId)
    {
        switch (modelId)
        {
            case (int)Model_Enum.Active:
                ViewBag.ForeColor = "#315F8D";
                ViewBag.FontClass = "Estilo44";
                break;
            case (int)Model_Enum.Passive:
                ViewBag.ForeColor = "#8AB5E1";
                ViewBag.FontClass = "Estilo44 Estilo76";
                break;
            default:
                ViewBag.FontClass = "Estilo6";
                break;
        }
    }
}

@model IEnumerable<Topppro.Entities.Product>

<tr>
    <td>&nbsp;</td>

@foreach (var product in Model)
{
    if (Model.ToList().IndexOf(product) != 0 && (Model.ToList().IndexOf(product) % ViewBag.MaxPerLine) == 0)
    {
@:</tr>
<tr>
    <td colspan="11">
        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="16" height="24" alt="spacer" />
    </td>
</tr>
@:<tr>
    <td>&nbsp;</td>
    }
    
    <td>
        <table cellpadding="0" cellspacing="0" width="148">
            <tr>
                <td colspan="3" align="left">
                    @if (product.GetThumbs().IsEmpty())
                    {
                    <img src="@Url.Content("~/Content/Images/coming-soon.jpg")" alt="@product.Name" name="@(string.Format("Image{0}", product.Id))"
                        width="148" height="148" border="0" id="@(string.Format("Image{0}", product.Id))" />
                    }
                    else
                    {
                        var url = Url.RouteUrl("Detail", new { controller = ViewContext.RouteData.Values["controller"], id = product.Id, name = product.Name.ToSeoSlug() });
                        if (product.Id == 158) { url = "javascript:void(0)"; }
                        
                        <a href="@url" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('@(string.Format("Image{0}", product.Id))','','@(product.GetThumbs().Where(t => t.Contains("up")).DefaultIfEmpty<string>(Url.Content("~/Content/Images/coming-soon.jpg")).First())',1)">
                            <img src="@(product.GetThumbs().Where(t => !t.Contains("up")).DefaultIfEmpty<string>(Url.Content("~/Content/Images/coming-soon.jpg")).First())" alt="@product.Name" name="@(string.Format("Image{0}", product.Id))"
                                width="148" height="148" border="0" id="@(string.Format("Image{0}", product.Id))" />
                        </a>
                    }
                </td>
            </tr>
            <tr>
                @{ SetColors(product.ModelId); }
                <td bgcolor="@ViewBag.ForeColor"><img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="1" height="24" alt="spacer" /></td>
                <td align="center" bgcolor="@ViewBag.ForeColor">
                    <span class="@ViewBag.FontClass">@product.Name</span>
                </td>
                <td bgcolor="@ViewBag.ForeColor">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td align="center" height="20px">
                    @if (product.Id != 158)
                    {
                    <input type="checkbox" id="@product.Folder" value="@product.Id" data-text="@product.Name.ToSeoSlug()" />
                    <label for="@product.Folder">@Localization.Add_To_Compare</label>
                    }
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    </td>
    <td>&nbsp;</td>
}
</tr>
<tr>
    <td colspan="11">
        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="16" height="24" alt="spacer" />
    </td>
</tr>
