@using Topppro.Entities
@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model IEnumerable<Topppro.Entities.Assn_CategorySerieProduct>

@functions {

    void SetColors(int modelId)
    {
        switch (modelId)
        {
            case (int)Model_Enum.Active:
                ViewBag.ForeColor = "#315F8D";
                ViewBag.FontClass = "Estilo44";
                break;
            case (int)Model_Enum.Passive:
                ViewBag.ForeColor = "#8AB5E1";
                ViewBag.FontClass = "Estilo44 Estilo76";
                break;
            default:
                ViewBag.FontClass = "Estilo6";
                break;
        }
    }
    
    string ResolveUrl(Topppro.Entities.Assn_CategorySerieProduct assn)
    {
        if (assn.Product.Draft)
            return "javascript:void(0)";

        return Url.RouteUrl("Detail", new { controller = ViewContext.RouteData.Values["controller"], id = assn.Id, name = assn.Product.Name.ToSeoSlug() }); 
    }

    bool ResolveAllowCompare(Topppro.Entities.Assn_CategorySerieProduct assn)
    {
        return assn.AllowCompare && assn.Assn_CategorySerie.AllowCompare;
    }
}

<tr>
    <td>&nbsp;</td>

@foreach (var assn in Model)
{
    if (Model.ToList().IndexOf(assn) != 0 && (Model.ToList().IndexOf(assn) % assn.Assn_CategorySerie.ItemsPerLine) == 0)
    {
@:</tr>
<tr>
    <td colspan="11">
        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="16" height="24" alt="spacer" />
    </td>
</tr>
@:<tr>
    <td>&nbsp;</td>
    }
    
    <td>
        <table cellpadding="0" cellspacing="0" width="148">
            <tr>
                <td colspan="3" align="left">
                    <a href="@ResolveUrl(assn)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('@(string.Format("Image{0}", assn.Id))','','@(assn.Product.GetThumbs().Where(t => t.Contains("up")).DefaultIfEmpty<string>(Url.Content("~/Content/Images/coming-soon.jpg")).First())',1)">
                        <img src="@(assn.Product.GetThumbs().Where(t => !t.Contains("up")).DefaultIfEmpty<string>(Url.Content("~/Content/Images/coming-soon.jpg")).First())" alt="@assn.Product.Name" name="@(string.Format("Image{0}", assn.Id))"
                            width="148" height="148" border="0" id="@(string.Format("Image{0}", assn.Id))" />
                    </a>
                </td>
            </tr>
            <tr>
                @{ SetColors(assn.Product.ModelId); }

                <td bgcolor="@ViewBag.ForeColor"><img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="1" height="24" alt="spacer" /></td>
                <td align="center" bgcolor="@ViewBag.ForeColor">
                    <span class="@ViewBag.FontClass">@assn.Product.Name</span>
                </td>
                <td bgcolor="@ViewBag.ForeColor">&nbsp;</td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td align="center" height="20px">
                    @if (ResolveAllowCompare(assn))
                    {
                    <input type="checkbox" id="@assn.Product.Folder" value="@assn.Id" data-text="@assn.Product.Name.ToSeoSlug()" />
                    <label for="@assn.Product.Folder">@Localization.Add_To_Compare</label>
                    }
                </td>
                <td>
                    &nbsp;
                </td>
            </tr>
        </table>
    </td>
    <td>&nbsp;</td>
}
</tr>
<tr>
    <td colspan="11">
        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="16" height="24" alt="spacer" />
    </td>
</tr>
