@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions

@model IEnumerable<Topppro.Entities.Product>

@{
    var item_A = Model.First();
    var item_B = Model.Last();
}

@section Styles {
    <style type="text/css">
        body {
	        background-image: url('@Url.Content("~/Content/Images/home-bottom-page.jpg")');
	        background-repeat: no-repeat;
            background-position: 0px 116px;
            background-attachment: fixed;
        }
        h1 {
            color: #315f8d;
        }
    </style>
}

<table width="1000" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <colgroup>
        <col width="1%" />
        <col width="48%" />
        <col width="2%" />
        <col width="48%" />
        <col width="1%" />
    </colgroup>
    <tbody>
    </tbody>
    <tr>
        <td></td>
        <td height="30" align="center"><h1>@item_A.Name</h1></td>
        <td></td>
        <td height="30" align="center"><h1>@item_B.Name</h1></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td height="30" align="center">
            <img src="@item_A.GetPopUp().FirstOrDefault(i => i.Contains("side"))" alt="@item_A.Name" width="163" border="0" />
        </td>
        <td></td>
        <td height="30" align="center">
            <img src="@item_B.GetPopUp().FirstOrDefault(i => i.Contains("side"))" alt="@item_B.Name" width="163" border="0" />
         </td>
         <td></td>
    </tr>
    <tr>
        <td></td>
        <td valign="top">
            @Html.Partial("_Attribute", item_A.Attributes)
        </td>
        <td></td>
        <td valign="top">
            @Html.Partial("_Attribute", item_B.Attributes)
        </td>
        <td></td>
    </tr>
    <tr>
        <td height="30"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td height="30"></td>
        <td colspan="3" align="center">
            <table border="0" cellpadding="0" cellspacing="0" width="151" align="center">
                <tbody>
                    <tr>
                        <td height="30" align="center" bgcolor="#A0BFDE" class="Estilo44">
                            @Html.ActionLink(string.Format("<< {0}", Localization.Back), "Index")
                        </td>
                    </tr>
                </tbody>
            </table>
        </td>
        <td></td>
    </tr>
    <tr>
        <td height="30"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

