@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Product

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/ThickBox.css")" />
    <style type="text/css">
        body {
	        background-image: url('@ViewBag.BackgroundImage');
	        background-repeat: no-repeat;
            background-position: 0px 116px;
            background-attachment: fixed;	        
        }
        td img {
            display: inline;
        }
        a:link {
            text-decoration: none;
            color: #000000;
        }
        .Estilo45 {
            font-weight: bold !important;
        }
        .Estilo4 {
            font-size: 14px;
        }
    </style>
}

<table width="1000" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
    <tbody>
        @Html.DisplayForModel()
        <tr>
            <td colspan="11">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="16" height="24">
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td width="182">
                &nbsp;
            </td>
            <td width="22">
                &nbsp;
            </td>
            <td align="center" bgcolor="#A0BFDE" class="Estilo44" width="151">
                @Html.ActionLink(string.Format("<< {0}", Localization.Back), "Index", ViewContext.RouteData.Values["controller"].ToString(), null, null, Model.Serie.Name.ToSeoSlug(), null, null)
            </td>
            <td width="18">
                &nbsp;
            </td>
            <td width="153">
                &nbsp;
            </td>
            <td width="29">
                &nbsp;
            </td>
            <td width="127">
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="11">
                <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="16" height="24">
            </td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.thickbox-3.1.min.js")"></script>
    <script type="text/javascript">
        var tb_pathToImage = "@Url.Content("~/Content/Images/loadingAnimation.gif")";
    </script>
}