@using Topppro.WebSite.Extensions;
@using xFNet.Common.Extensions;

@model Topppro.Entities.Assn_CategorySerieProduct

<div class="container">
    <div class="row">
        <div class="col">
            <span class="text-muted">@Resources.Global.ResourceManager.GetString(ViewContext.RouteData.Values["controller"].ToString()).ToUpper()<br>@Model.Assn_CategorySerie.Serie.Name</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="pb-2 mt-4 mb-4 text-primary border-bottom d-flex justify-content-between">
                <h1>@Model.Product.Name</h1>
                <small class="mt-auto mb-auto">
                    <a href="@Url.Action("Index")#@Model.Assn_CategorySerie.Serie.Name.ToSeoSlug()" class="btn text-secondary border-secondary rounded-0 btn-sm">@Resources.Global.Back</a>
                </small>
            </div>
        </div>
    </div>
    <div class="row mb-4 justify-content-md-start">
        <div class="col">
            <div class="card mb-3 border-0">
                <div class="row no-gutters">
                    <div class="col-md-1">
                        @if (Model.Product.GetHiRes().IsEmpty() == false)
                        {<a href="@Url.Action("HiRes", new { id = Model.Id, name = Model.Product.Name.ToSeoSlug().ToUpper() })" class="btn btn-primary rounded-0 btn-sm btn-block">Hi-Res</a>}

                        @if (Model.Product.GetManual().IsEmpty() == false)
                        {<a href="@Model.Product.GetManual()" target="_blank" class="btn btn-info rounded-0 btn-sm btn-block">Manual</a>}

                        @if (Model.Product.Downloads.IsEmpty() == false)
                        {<a href="@Url.RouteUrl("Software", new { id = Model.Id, name = Model.Product.Name.ToSeoSlug().ToUpper() })" class="btn btn-secondary rounded-0 btn-sm btn-block">Software</a>}
                    </div>
                    <div class="col-md-5">
                        <img src="@Model.Product.GetMain()" class="card-img rounded-0" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body pt-0">
                            @*Main Bullets*@
                            <ul class="list-unstyled">
                            @foreach (var x in Model.Product.Bullets)
                            {
                                <li>@x.Name</li>
                                <li>@x.Value</li>
                            }
                            </ul>


                            @*Child Attributes*@
                            @foreach (var child in Model.Product.Childs)
                            {
                            <ul class="list-unstyled">
                            @foreach (var x in child.ChildProduct.Bullets)
                            {
                                <li>@x.Name</li>
                                <li>@x.Value</li>
                            }
                            </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*Main Attributes*@
    <div class="row mb-4">
        <div class="col">
            <table class="table text-center table-striped table-bordered table-sm">
                <tbody>
                    @foreach (var x in Model.Product.Attributes)
                    {
                    <tr>
                        <td>@x.Name</td>
                        <td>@Html.Raw(x.Value)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    @*Child Attributes*@
    @foreach (var child in Model.Product.Childs)
    {
    <div class="row mb-4">
        <div class="col">
            <table class="table text-center table-striped table-bordered table-sm">
                <tbody>
                    @foreach (var x in child.ChildProduct.Attributes)
                    {
                    <tr>
                        <td>@x.Name</td>
                        <td>@Html.Raw(x.Value)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    }
    <div class="row mb-4">
        <div class="col text-center">
            <a href="@Url.Action("Index")#@Model.Assn_CategorySerie.Serie.Name.ToSeoSlug()" class="btn text-secondary border-secondary rounded-0 btn-sm">@Resources.Global.Back</a>
        </div>
    </div>
</div>
