@using Topppro.WebSite.Extensions;
@using xFNet.Common.Extensions;

@model IEnumerable<Topppro.Entities.Assn_CategorySerie>

<div class="container">
    <!-- CATEGORY -->
    <div class="row">
        <div class="col">
            <span class="text-muted">@ViewContext.RouteData.Values["controller"].ToString().ToUpper()</span>
        </div>
    </div>

@foreach (var x in Model)
{
    <!-- SERIE-->
    <div class="row">
        <div class="col">
            <div class="pb-2 mt-4 mb-2 border-bottom">
                <h1 id="@x.Serie.Name.ToSeoSlug()">@x.Serie.Name</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="list-group list-group-horizontal align-items-stretch flex-wrap">
                @foreach (var y in x.Assn_CategorySerieProduct)
                {
                    <!-- PRODUCT -->
                    <li class="list-group-item border-0">
                        <div class="card text-primary text-center border-0 my-3">
                            <div class="card-title">
                                <p class="card-text">@y.Product.Name</p>
                            </div>
                            <img src="@y.Product.GetThumb()" class="card-img-bottom img-fluid rounded-0">
                            <a href="@Url.Action("Detail", new { id = y.Id, name = y.Product.Name.ToSeoSlug().ToUpper() })" class="stretched-link"></a>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <!-- /LIST -->
}
</div>
@Html.Partial("_Catalog")