@using Topppro.WebSite.Extensions
@using xFNet.Common.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

@{
    var group =
        Model.Product.Downloads.GroupBy(x => x.Platform, (k, v) => new { key = k, list = v });
}

<div class="container">
    <div class="row">
        <div class="col">
            <span class="text-muted">@Model.Assn_CategorySerie.Category.Name.ToUpper()<br>@Model.Assn_CategorySerie.Serie.Name</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="pb-2 mt-4 mb-4 text-primary border-bottom">
                <h1>@Model.Product.Name</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card-deck mb-3 text-center">
                @foreach (var p in group)
                {
                <div class="card mb-4">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal @p.key.TextColor()"><i class="@p.key.Icon()"></i> @p.key.Name</h4>
                    </div>
                    <div class="card-body text-left">
                    @foreach (var s in p.list)
                    {
                        if (s.Description.IsEmpty() == false)
                        { <small class="text-muted">* @s.Description</small> }
                        <a href="@s.GetResource()" class="btn btn-lg btn-block @p.key.BackgroundColor() text-white">@s.Name</a>
                    }
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>