@using Topppro.WebSite.Areas.Humanist.Resources

@model Topppro.WebSite.Areas.Humanist.Models.LogOnModel

@{
    ViewBag.Title = "Log On";
}

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/Humanist/Content/Styles/m-forms.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/Humanist/Content/Styles/m-icons.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Areas/Humanist/Content/Styles/m-buttons.min.css")" />
}

<div style="width:35%; margin:auto auto 65px auto;">
    <div class="title">
        <h1>@Localization.Account_LogOn_Title</h1>
    </div>
    <p style="margin-bottom:24px;">@Localization.Account_LogOn_Subtitle</p>

    @Html.ValidationSummary(true, "Login was unsuccessful. Please correct the errors and try again.")

    @using (Html.BeginForm()) {
        <div class="editor-label">
            @Html.LabelFor(m => m.UserName)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(m => m.UserName, new { @class="m-wrap m-ctrl-large"})
            @Html.ValidationMessageFor(m => m.UserName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(m => m.Password)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(m => m.Password, new { @class="m-wrap m-ctrl-large"})
            @Html.ValidationMessageFor(m => m.Password)
        </div>

        <div class="editor-label">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe)
        </div>

        <p style="border-top: 1px solid #e5e5e5">
            <button type="submit" class="m-btn green">@Localization.Account_LogOn_Submit <i class="icon-share-alt icon-white"></i></button>
        </p>
    }
</div>

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Areas/Humanist/Scripts/jquery-1.8.3.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Humanist/Scripts/jquery-ui-1.9.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Humanist/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Areas/Humanist/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}