@using Topppro.SecureSite.Models;

@model Topppro.Entities.Model

@{
    ViewBag.Title = "Edit";
    ViewBag.CurrentMenu = Menu_Enum.Model;
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    <fieldset>
        <legend>Model</legend>

        @Html.HiddenFor(model => model.ModelId)
        @Html.ValidationMessageFor(model => model.ModelId)

        @Html.EditorForModel()

        <p>
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Partial("_Validator")
}
