@using Framework.MVC.Resources
@using Topppro.Entities.Resources

@model Topppro.Entities.Distributor

@{
    ViewBag.Title = PersistanceResource.Create;
}

@section Styles {
    <style type="text/css">
        .tooltip-inner
        {
            max-width: 300px;
            padding: 0;
        }
        .tooltip-alert
        {
            padding: 8px 10px;
            font-weight: bolder;
            color: #A94442;
        }
    </style>
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Ent_DistributorResource._Caption</legend>

        @Html.EditorForModel()

        <p>
            <input class="btn btn-primary" type="submit" value="@PersistanceResource.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts 
{
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/tinymce/jquery.tinymce.min.js")" type="text/javascript"></script>
    @Html.Partial("_Validation")
}