@using Framework.MVC.Resources
@using Topppro.Entities.Resources

@model Topppro.Entities.Distributor

@{
    ViewBag.Title = PersistanceResource.Delete;
}

<h2>@PersistanceResource.Delete</h2>

<h3>@PersistanceResource.Delete_Message</h3>
<fieldset>
    <legend>@Ent_DistributorResource._Caption</legend>

    @Html.DisplayForModel()

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input class="btn btn-danger" type="submit" value="@PersistanceResource.Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}

@section Scripts
{
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/tinymce/jquery.tinymce.min.js")" type="text/javascript"></script>
}