@model Topppro.Entities.Assn_CategorySerieProduct

@Html.HiddenFor(model => model.AssnCategorySerieId)
@Html.ValidationMessageFor(model => model.AssnCategorySerieId)

@Html.HiddenFor(model => model.ProductId)
@Html.ValidationMessageFor(model => model.ProductId)
        
<div class="form-group">
    @Html.LabelFor(model => model.Priority)
    @Html.TextBoxFor(model => model.Priority, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Priority)
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(model => model.AllowCompare)
        @Html.DisplayNameFor(model => model.AllowCompare)
        @Html.ValidationMessageFor(model => model.AllowCompare)
    </label>
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(model => model.Enabled)
        @Html.DisplayNameFor(model => model.Enabled)
        @Html.ValidationMessageFor(model => model.Enabled)
    </label>
</div>