@using Topppro.SecureSite.Extensions
@using Topppro.Entities.Resources

@model Topppro.Entities.Assn_CategorySerieProduct

<li data-id="@Model.Id">
    <img src="@Model.Product.GetThumbs().FirstOrDefault(t => !t.Contains("up"))" alt="@Model.Product.Name" />
    <b>@Model.Product.Name</b>
    <div class="clearfix">
        <div class="pull-left">
            @if (Model.Product.Assn_ProductRegion.Any(a => a.RegionId == (int)Topppro.Entities.Region_Enum.America))
                {<span class="label label-primary">America</span>}
            @if (Model.Product.Assn_ProductRegion.Any(a => a.RegionId == (int)Topppro.Entities.Region_Enum.Asia))
                {<span class="label label-primary">Asia</span>}
            @if (Model.Product.Assn_ProductRegion.Any(a => a.RegionId == (int)Topppro.Entities.Region_Enum.Europe))
                {<span class="label label-primary">Europe</span>}
            @if (Model.Enabled)
                {<span class="label label-success"><i class="fa fa-eye" title="@Ent_AssnCategorySerieProductResource.Entity_Enabled"></i></span>}
            @if (Model.AllowCompare)
                {<span class="label label-warning"><i class="fa fa-adjust" title="@Ent_AssnCategorySerieProductResource.Entity_AllowCompare"></i></span>}
        </div>                                                                                                        
        <div class="btn-group pull-right">
		    <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">
                Actions <span class="caret"></span></button>
		    <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink("Edit", "Edit", null,
                        new { id = Model.Id },
                        new { @class = "editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", "Edit", Model.Product.Name) })
                </li>
                <li>
                    @Ajax.ActionLink("Delete", "Delete", null,
                        new { id = Model.Id },
                        new AjaxOptions() { HttpMethod = "Post", Confirm = "Confirm Delete ?", OnSuccess = "el.remove();" },
                        new { @title = "Delete", @onclick = "el = $(this).parents('ol > li');" })
                </li>
		    </ul>
	    </div>
    </div>
</li>
