@{
    ViewBag.Title = ":: Topp Pro Professional Audio Gear - Bluetooth Certified ::";
}

@section Styles {
    <style type="text/css">
        #main
        {
            padding: 0 0 91px;
        }
    </style>
}

<div style="text-align: center;">
    <img src="@Url.Content("~/Content/Images/1.-TAC-BT2.1B-EPLCertificate.jpg")" alt="tac-bt2 blutooth certificate"
        width="900" height="697" />
    <img src="@Url.Content("~/Content/Images/11.--MX-3BT-EPL--B019657.jpg")" alt="mx-3bt bluetooth certificate" width="900"
        height="697" />
    <img src="@Url.Content("~/Content/Images/15.-DMX24.4--EPLCertificate.jpg")" alt="dmx24.4 blutooth certificate"
        width="900" height="697" />
    <img src="@Url.Content("~/Content/Images/20.-TAP20BT-Topp-Pro-EPLCertificate.jpg")" alt="tap20bt blutooth certificate"
        width="900" height="697" />
    <img src="@Url.Content("~/Content/Images/22.-TAP40BT-Topp-Pro-EPLCertificate.jpg")" alt="tap40bt blutooth certificate"
        width="900" height="698" />
</div>