@using Topppro.WebSite.Resources

@{
    ViewBag.Title = ":: Topp Pro Professional Audio Gear - Software Library ::";
}

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-forms.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-icons.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-buttons.min.css")" />
}

<img src="@Url.Content("~/Content/Images/software-top.jpg")" alt="Software" />
<br /><br />

<h2 style="font-weight: lighter;color: #646369;">
    @PublicResource.Softwere_Download</h2>
    <br /><br />

<div class="title">
    <h1>T2208
    <small>@PublicResource.Digital_Mixer</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/T2208-Software.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software</a></li>
        <li>
		    <a href="@Url.Content("~/Content/Downloads/USB-Driver-for-DLM206-T20-T2208.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software_Usb_Driver_Windows</a></li>

</div>
<br /><br />

<div class="title">
    <h1>DLM-808 - DLM 408
    <small>@PublicResource.Digital_Audio_Processor</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/DLM808_408 Software.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software</a></li>
        <li>

</div>
<br /><br />

<div class="title">
    <h1>APX
    <small>@PublicResource.Professional_Line_Array_System</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/APX_CL-4 Software.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software_CL4</a></li>
        <li>

</div>
<br /><br />
		
<div class="title">
    <h1>CS
    <small>@PublicResource.Modules</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="https://itunes.apple.com/us/app/custom-sound/id838175440?mt=8" class="m-btn green-stripe" target="_blank">@PublicResource.Software_IPad_IPhone_App</a></li>

</div>
<br /><br />
			
<div class="title">
    <h1>T20
    <small>@PublicResource.Digital_Mixer</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/T20iUpdatePC.zip")" class="m-btn green-stripe" target="_blank">T20i @PublicResource.Update_For_Windows</a></li>
        <li>
		    <a href="@Url.Content("~/Content/Downloads/T20iUpdateMac.zip")" class="m-btn green-stripe" target="_blank">T20i @PublicResource.Update_For_MacOS</a></li>
		    <a href="@Url.Content("~/Content/Downloads/driver_USB WINDOWS.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software_Usb_Driver_Windows</a></li>
	    <li>
            <a href="@Url.Content("~/Content/Downloads/driver_USB MAC OSX.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software_Usb_Driver_MacOS</a>
            <small style="display:block;margin-top:10px;">@Html.Raw(PublicResource.Software_Usb_Driver_MacOS_Quote)</small></li>
		<li>
            <a href="@Url.Content("~/Content/Downloads/T20Update MAC&Windows manual.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software_Firmware_Update_Instructions</a></li>
        <li>
            <a href="@Url.Content("~/Content/Downloads/T20Update20161125(for user).zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Firmware_Release</a></li>
        <li>
            <a href="https://itunes.apple.com/us/app/t20i/id950579631?mt=8" class="m-btn green-stripe" target="_blank">@PublicResource.Software_IPad_IPhone_App</a></li>
    </ul>
</div>
<br /><br />

<div class="title">
    <h1>DMX24.4
    <small>Digital Mixer</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/DMX_DIGI_(V33).zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Firmware_Release (v3.3)</a></li>
        <li>
            <a href="@Url.Content("~/Content/Downloads/DMX24.4 Firmware Release(TOP PRO).zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software_Firmware_Update_Instructions</a></li>
        <li>
            <a href="@Url.Content("~/Content/Downloads/DMX24.4V5.1.rar")" class="m-btn green-stripe" target="_blank">@PublicResource.PC_Editor_For_Windows</a></li>
        <li>
            <a href="https://itunes.apple.com/us/app/dmx24-4i/id887695089?mt=8" class="m-btn green-stripe" target="_blank">@PublicResource.Software_IPad_IPhone_App</a></li>
    </ul>
</div>
<br /><br />


<div class="title">
    <h1>TDX-26 PLUS
    <small>@PublicResource.Digital_Signal_Processor</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/TDX26-PLUS software.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software</a></li>
        <li>			
</div>
<br /><br /><br />

<h1 class="orange">@PublicResource.Legacy_Product_Software</h1>
<hr class="bg-green" />
<br /><br />

<div class="title">
    <h1>DLM-206
    <small>@PublicResource.Programable_Realtime_DSMS</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/DLM206.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Audio_Editor</a></li>
        <li>
            <a href="@Url.Content("~/Content/Downloads/DLM206i.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software</a></li>
        <li>
		    <a href="@Url.Content("~/Content/Downloads/USB-Driver-for-DLM206-T20-T2208.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software_Usb_Driver_Windows</a></li>		
    </ul>
</div>
<br /><br />
