@using Topppro.WebSite.Resources

@{
    ViewBag.Title = ":: Topp Pro Professional Audio Gear - Software Library ::";
}

@section Styles {
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-forms.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-icons.min.css")" />
    <link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Styles/m-buttons.min.css")" />
}

<img src="@Url.Content("~/Content/Images/software-top.jpg")" alt="Software" />
<br /><br />

<h2 style="font-weight: lighter;color: #646369;">
    Download from here the most recent firmware and software to control your Topp Pro Hardware</h2>
    <br /><br />

<div class="title">
    <h1>T20
    <small>Digital Mixer Software</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/T20UpdateV3.6.3 for WINDOWS.zip")" class="m-btn green-stripe" target="_blank">T20i Update For Windows</a></li>
        <li>
		    <a href="@Url.Content("~/Content/Downloads/T20Update.appV1.2.7 for MacOsX.zip")" class="m-btn green-stripe" target="_blank">T20i Update For Mac OS</a></li>
        <li style="margin:20px 0 20px;">
		    <a href="@Url.Content("~/Content/Downloads/driver_USB WINDOWS.zip")" class="m-btn green-stripe" target="_blank">USB Driver for Windows</a></li>
	    <li>
            <a href="@Url.Content("~/Content/Downloads/driver_USB MAC OSX.zip")" class="m-btn green-stripe" target="_blank">@PublicResource.Software_Usb_Driver_MacOS</a>
            <small style="display:block;margin-top:10px;">@Html.Raw(PublicResource.Software_Usb_Driver_MacOS_Quote)</small></li>
		<li>
            <a href="@Url.Content("~/Content/Downloads/User instruction of T20 application software download tool_V3.0 .doc")" class="m-btn green-stripe" target="_blank">Firmware Update Instructions</a></li>
        <li>
            <a href="@Url.Content("~/Content/Downloads/T20Update Release(for user).doc")" class="m-btn green-stripe" target="_blank">Update Release</a></li>
        <li>
            <a href="https://itunes.apple.com/en/app/t20i/id950579631?mt=8#" class="m-btn green-stripe" target="_blank">iPad & iPhone Control App</a></li>
    </ul>
</div>
<br /><br />

<div class="title">
    <h1>DMX24.4
    <small>Digital Mixer Software</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="@Url.Content("~/Content/Downloads/DMX_DIGI_(V33).zip")" class="m-btn green-stripe" target="_blank">Firmware Update (v3.3)</a></li>
        <li>
            <a href="@Url.Content("~/Content/Downloads/DMX24.4 Firmware Release(TOP PRO).zip")" class="m-btn green-stripe" target="_blank">Firmware Update Instructions</a></li>
        <li>
            <a href="@Url.Content("~/Content/Downloads/DMX24.4V5.1.rar")" class="m-btn green-stripe" target="_blank">PC Editor for Windows</a></li>
        <li>
            <a href="https://itunes.apple.com/en/app/dmx24.4i/id887695089?mt=8#" class="m-btn green-stripe" target="_blank">iPad & iPhone Control App</a></li>
    </ul>
</div>
<br /><br />

<div class="title">
    <h1>CS
    <small>Modules</small></h1>
    <ul style="list-style-type:none;">
        <li>
            <a href="https://itunes.apple.com/en/app/cs-eq/id838175440?mt=8#" class="m-btn green-stripe" target="_blank">iPad & iPhone Control App</a></li>
    </ul>
</div>
<br /><br />
