<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>.:: Topppro - Control Panel ::.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- font awesome icons -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- font open sans -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap">
    <!-- custom style -->
    @Styles.Render("~/bundles/css")
    @RenderSection("styles", false)
</head>
<body>
    <div id="wrapper">
        @Html.Partial("_Menu")
        <div id="page-wrapper">
            <div id="page-inner">

                @RenderSection("Title", false)
                @if (!IsSectionDefined("Title"))
                {
                    <h2>@ViewBag.Title</h2>
                }

                @RenderSection("Toolbar", false)
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/old/jquery-1.10.2.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Scripts/old/jquery-ui-1.10.4.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Scripts/old/bootstrap.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Scripts/old/metisMenu/jquery.metisMenu.js")" type="text/javascript" language="javascript"></script>
    @*<script src="@Url.Content("~/Areas/SecureSite/Scripts/morris/raphael-2.1.0.min.js")" type="text/javascript" language="javascript"></script>*@
    @*<script src="@Url.Content("~/Areas/SecureSite/Scripts/morris/morris.js")" type="text/javascript" language="javascript"></script>*@
    <script src="@Url.Content("~/Scripts/old/custom.js")" type="text/javascript" language="javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>
