@using Topppro.SecureSite.Models;

@model Topppro.Entities.Distributor

@{
    ViewBag.Title = "Details";
    ViewBag.CurrentMenu = Menu_Enum.Distributors;
}

<fieldset>
    <legend>Distributor</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/old/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/old/tinymce/jquery.tinymce.min.js")" type="text/javascript"></script>
}
