@using Topppro.SecureSite.Models;

@model Topppro.Entities.Distributor

@{
    ViewBag.Title = "Edit";
    ViewBag.CurrentMenu = Menu_Enum.Distributors;
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    <fieldset>
        <legend>Distributor</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.ValidationMessageFor(model => model.Id)

        @Html.EditorForModel()

        <p>
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/old/tinymce/tinymce.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/old/tinymce/jquery.tinymce.min.js")" type="text/javascript"></script>
    @Html.Partial("_TinyMCELite")    
    @Html.Partial("_Validator")
}
