
@model IEnumerable<Topppro.Entities.Distributor>

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="pb-2 mt-4 mb-4 border-bottom d-flex justify-content-between">
                <h1 class="mb-1 d-inline-block">@Resources.Global.Distributors</h1>
                <small class="mt-auto mb-auto">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-secondary">@Resources.Global.Search</button>
                        </div>
                        <input id="search" type="text" class="form-control">
                    </div>
                </small>
            </div>
        </div>
    </div>

    <div class="row row-cols-3">
        @foreach (var d in Model)
        {
            <div class="col">
                <div class="card mb-3">
                    <div class="card-header text-white bg-primary">@d.Country.Name</div>
                    <div class="card-body">
                        <address>
                            <strong>@d.Name</strong>
                            <p>@Html.Raw(d.Detail)</p>
                        </address>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#search').livefilter({ selector: 'div.card' });
        });
    </script>
}