@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions

@{
    ViewBag.Title = "Topp Pro Bluetooth Certified";
}

@section Styles {
    <style type="text/css">
        .Estilo44 {
            font-size: 10px; 
            font-family: Arial, Helvetica, sans-serif; color: #000000; 
        }
        .Estilo6 {
            font-size: 10px; 
            font-family: Arial, Helvetica, sans-serif; 
        }
        body {
	        background-image: url('@Url.Content("~/Content/Images/home-bottom-page.jpg")');
	        background-repeat: no-repeat;
            background-position: 0px 116px;
            background-attachment: fixed;
        }
        body,td,th {
	        font-family: Arial, Helvetica, sans-serif;
	        font-size: 10px;
        }
        a {
	        font-family: Arial, Helvetica, sans-serif;
	        font-size: 16px;
	        color: #FFFFFF;
        }
        a:link {
	        text-decoration: none;
	        color: #000000;
        }
        a:visited {
	        text-decoration: none;
        }
        a:hover {
	        text-decoration: underline;
        }
        a:active {
	        text-decoration: none;
        }
        .Estilo53 {
            color: #000000
        }
        .Estilo59 {
            font-size: 16px
        }
    </style>
}

<table width="1000" border="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr>
        <td colspan="11" align="center">
            <img src="@Url.Content("~/Content/Images/1.-TAC-BT2.1B-EPLCertificate.jpg")" alt="tac-bt2 blutooth certificate"
                width="900" height="697" />
        </td>
    </tr>
    <tr>
        <td align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="11" align="center">
            <img src="@Url.Content("~/Content/Images/11.--MX-3BT-EPL--B019657.jpg")" alt="mx-3bt bluetooth certificate" width="900"
                height="697" />
        </td>
    </tr>
    <tr>
        <td align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="11" align="center">
            <img src="@Url.Content("~/Content/Images/15.-DMX24.4--EPLCertificate.jpg")" alt="dmx24.4 blutooth certificate"
                width="900" height="697" />
        </td>
    </tr>
    <tr>
        <td align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="11" align="center">
            <img src="@Url.Content("~/Content/Images/20.-TAP20BT-Topp-Pro-EPLCertificate.jpg")" alt="tap20bt blutooth certificate"
                width="900" height="697" />
        </td>
    </tr>
    <tr>
        <td align="center">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="11" align="center">
            <img src="@Url.Content("~/Content/Images/22.-TAP40BT-Topp-Pro-EPLCertificate.jpg")" alt="tap40bt blutooth certificate"
                width="900" height="698" />
        </td>
    </tr>
    @Html.Separator()
    @Html.Button(string.Format("<< {0}", Localization.Back), Url.Action("Index", "Home"), "#999999", "Estilo44")
    @Html.Separator()
</table>
