@using Framework.MVC.Extensions
@using Framework.MVC.Resources
@using Topppro.Entities.Resources

@model Topppro.Entities.Assn_CategorySeriePackage

@{
    ViewBag.Title = PersistanceResource.Delete;
}

<h2>@PersistanceResource.Delete</h2>

<h3>@PersistanceResource.Delete_Message</h3>
<fieldset>
    <legend>@Ent_AssnCategorySeriePackageResource._Caption</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AssnCategorySerieId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Assn_CategorySerie.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.PackageId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Package.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Enabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enabled)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@PersistanceResource.Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
