@model Topppro.Entities.Category

@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
    <fieldset>
        <legend>Category</legend>

        @Html.HiddenFor(model => model.CategoryId)
        @Html.ValidationMessageFor(model => model.CategoryId)

        @Html.EditorForModel()

        <p>
            <input class="btn btn-primary" type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Partial("_Validator")
}
