@using Topppro.Entities.Resources

@model IEnumerable<Topppro.Entities.Download>

@{
    Html.RenderAction("Toolbar", "Download", new { id = ViewBag.ProductId });
}

<table class="table table-striped table-bordered table-hover" id="download-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Resource)</td>
                <td>@Html.DisplayFor(modelItem => item.Culture.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                <td>@item.Enabled.ToString().ToLower()</td>
                <td class="center">@Html.DisplayFor(modelItem => item.Id)</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
       
        $('#download-list').dataTable({
            aoColumns: [
                    null,
                    null,
                    null,
                    null,
                    {
                        mRender: function (o, t, r) {

                            var tpl = '@Html.CheckBox("Enabled", true, new { data_id = 0 })';

                            if (JSON.parse(o) === false)
                                tpl = '@Html.CheckBox("Enabled", false, new { data_id = 0 })';

                            return tpl.replace(/0/g, r[5]);
                        }
                    },
                    {
                        bSortable: false,
                        mRender: function (o) {

                            var tpl = '@Html.ActionLink("Edit", "Edit", "Download", new { id = 0 }, new { @class = "editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", "Edit", Ent_DownloadResource._Caption) }) | ' +
                                      '@Html.ActionLink("Details", "Details", "Download", new { id = 0 }, new { @class = "display-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", "Details", Ent_DownloadResource._Caption) }) | ' +
                                      '@Ajax.ActionLink("Delete", "Delete", "Download", new { id = 0 }, new AjaxOptions() { HttpMethod = "Post", Confirm = "Confirm Delete ?", OnSuccess = "$('#download-list').dataTable().fnDeleteRow(el);" }, new { @role = "button", @onclick = "el = $(this).closest('tr');" })';
                            
                            return tpl.replace(/0/g, o);
                        }
                    }
                ]
        });

        $('#download-list tbody').on('change', 'input[type=checkbox]', function(e) {
            
            var o =
                $(this);

            $.post('@Url.Action("Toggle", "Download")',
                { id: o.data('id'), propertyName: o.attr('name') });
        });
    })
</script>
