@model IEnumerable<Topppro.Entities.Download>

@{
    Html.RenderAction("Toolbar", "Download", new { id = ViewBag.ProductId });
}

<table class="table table-striped table-bordered table-hover" id="download-list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Resource)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Culture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Resource)</td>
                <td>@Html.DisplayFor(modelItem => item.Culture.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                <td>@item.Enabled.ToString().ToLower()</td>
                <td class="center">@item.Id</td>
            </tr>
        }
    </tbody>
</table>
