@using Framework.MVC.Extensions

@model Topppro.Entities.Product

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModelId)
    @Html.TextBoxFor(model => model.Model.Name, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Folder)
    @Html.TextBoxFor(model => model.Folder, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="form-group">
   @Html.LabelFor(model => model.Manual)
   @Html.TextBoxFor(model => model.Manual, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(m => m.Draft, new { disabled = "disabled" })
        @Html.DisplayNameFor(m => m.Draft)
    </label>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Badge)
    @Html.TextBoxFor(model => model.Badge, new { @class = "form-control", style = "width:400px;", disabled = "disabled" })
</div>
