<div class="container">
    <div class="row">
        <div class="col-lg-8 col-sm-6">
            <div class="row mb-3">
                <div class="col">
                    <div class="card-deck">
                        <div class="card rounded-0 text-white text-right bg-primary">
                            <img src="~/images/mixers.jpg" class="card-img-top rounded-0" alt="mixers">
                            <div class="card-body">
                                <span class="card-title">@Resources.Global.Mixers</span>
                                <a href="@Url.Action("", "Mixers")" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card rounded-0 text-white text-right bg-primary">
                            <img src="~/images/speakers.jpg" class="card-img-top rounded-0" alt="speakers">
                            <div class="card-body">
                                <span class="card-title">@Resources.Global.Speakers</span>
                                <a href="@Url.Action("", "Speakers")" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card rounded-0 text-white text-right bg-primary">
                            <img src="~/images/systems.jpg" class="card-img-top rounded-0" alt="systems">
                            <div class="card-body">
                                <span class="card-title">@Resources.Global.Systems</span>
                                <a href="@Url.Action("", "Systems")" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card rounded-0 text-white text-right bg-primary">
                            <img src="~/images/wireless.jpg" class="card-img-top rounded-0" alt="wirelss systems">
                            <div class="card-body">
                                <span class="card-title">@Resources.Global.Wireless</span>
                                <a href="@Url.Action("","Wireless")" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-deck">
                        <div class="card rounded-0 text-white text-right bg-primary">
                            <img src="~/images/amplifiers.jpg" class="card-img-top rounded-0" alt="power amplifiers">
                            <div class="card-body">
                                <span class="card-title">@Resources.Global.Amplifiers</span>
                                <a href="@Url.Action("", "Amplifiers")" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card rounded-0 text-white text-right bg-primary">
                            <img src="~/images/modules.jpg" class="card-img-top rounded-0" alt="modules processors">
                            <div class="card-body">
                                <span class="card-title">@Resources.Global.Processors</span>
                                <a href="@Url.Action("", "Processors")" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card rounded-0 text-white text-right bg-primary">
                            <img src="~/images/install.jpg" class="card-img-top rounded-0" alt="install">
                            <div class="card-body">
                                <span class="card-title">@Resources.Global.Install</span>
                                <a href="@Url.Action("", "Install")" class="stretched-link"></a>
                            </div>
                        </div>
                        <div class="card rounded-0 text-white text-right bg-primary">
                            <img src="~/images/legacy.jpg" class="card-img-top rounded-0" alt="legacy models">
                            <div class="card-body">
                                <span class="card-title">@Resources.Global.Legacy</span>
                                <a href="@Url.Action("", "Legacy")" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--<div class="row">
                <div class="col-12">
                    <div class="card-deck">
                        <div class="card rounded-0 text-white text-right bg-primary mb-3">
                            <img src="index/distributors-index.jpg" class="card-img-top rounded-0" alt="...">
                            <div class="card-body">
                                <span class="card-title">Distributors</span>
                                <a href="distributors.html" class="stretched-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="row">
                <div class="col">
                    @Html.Partial("_Slider")
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_Catalog")