@using Framework.MVC.Resources
@using Framework.MVC.Extensions
@using Topppro.Entities.Resources

@model Topppro.Entities.Country

@{
    ViewBag.Title = PersistanceResource.Delete;
}

<h3>@PersistanceResource.Delete_Message</h3>
<fieldset>
    <legend>@Ent_CountryResource._Caption</legend>

    @Html.DisplayForModel()

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input class="btn btn-danger" type="submit" value="@PersistanceResource.Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
