@using Framework.MVC.Resources
@using Framework.MVC.Extensions
@using Topppro.Entities.Resources

@model Topppro.Entities.Country

@{
    ViewBag.Title = PersistanceResource.Details;
}

<h2>@PersistanceResource.Details</h2>

<fieldset>
    <legend>@Ent_CountryResource._Caption</legend>

    @Html.DisplayForModel()

</fieldset>
<p>
    @Html.ActionLink(PersistanceResource.Edit, "Edit", new { id = Model.CountryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
