@using Framework.MVC.Extensions
@using Framework.MVC.Resources

@model Topppro.Entities.Product

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:400px;" })
    @Html.ValidationMessageFor(model => model.Name, null, new { @class = "label label-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ModelId)
    @Html.DropDownListFor(model => model.ModelId, (IEnumerable<SelectListItem>)ViewBag.Models, PersistanceResource.Selection, new { @class = "form-control", style = "width:400px;" })
    @Html.ValidationMessageFor(model => model.ModelId, null, new { @class = "label label-danger" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Folder)
    @Html.TextBoxFor(model => model.Folder, new { @class = "form-control", style = "width:400px;" })
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Manual)
    @Html.DropDownListFor(model => model.Manual, (IEnumerable<SelectListItem>)ViewBag.Manuals, PersistanceResource.Selection, new { @class = "form-control", style = "width:400px;" })
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(model => model.Draft)
        @Html.DisplayNameFor(model => model.Draft)
        @Html.ValidationMessageFor(model => model.Draft)
    </label>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Badge)
    @Html.TextBoxFor(model => model.Badge, new { @class = "form-control", style = "width:400px;" })
</div>

<div class="checkbox">
    <label>
        @Html.CheckBoxFor(model => model.Software)
        @Html.DisplayNameFor(model => model.Software)
        @Html.ValidationMessageFor(model => model.Software)
    </label>
</div>