@using Framework.Common.Extensions
@using Topppro.WebSite.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

<h4>@Model.Assn_CategorySerie.Serie.Name.ToUpper() Series</h4>
<div class="title">
    <h1>@Model.Product.Name.ToUpper()</h1>
</div>

@Html.Header()

<div style="margin-bottom:10px; float:left;">
    @Html.Manual()
    @Html.HiRes()

    @if (Model.ProductId == 11217)
    {   // DR16.4
        <a href="https://www.youtube.com/watch?v=W5V9FB9ujvs" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Videos','','@Url.Content("~/Content/Images/videos-bottom.jpg")',1)">
            <img src="@Url.Content("~/Content/Images/videos-top.jpg")" alt="videos" id="Videos" name="Videos" height="100" width="100" border="0" />
        </a>
    }

    @if (Model.ProductId == 11216)
    {   // DM24.8
        <a href="https://www.youtube.com/watch?v=wj5GU3W7LqQ" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Videos','','@Url.Content("~/Content/Images/videos-bottom.jpg")',1)">
            <img src="@Url.Content("~/Content/Images/videos-top.jpg")" alt="videos" id="Videos" name="Videos" height="100" width="100" border="0" />
        </a>
    }

    @if (Model.ProductId == 5214)
    {   // T2208
        <a href="https://www.youtube.com/watch?v=j9AH_2sQyHQ" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Videos','','@Url.Content("~/Content/Images/videos-bottom.jpg")',1)">
            <img src="@Url.Content("~/Content/Images/videos-top.jpg")" alt="videos" id="Videos" name="Videos" height="100" width="100" border="0" />
        </a>
    }

    @Html.Software()

</div>

@Html.Attributes()
