@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Product

@helper RenderHeader() {
    
    if (!Model.GetHeaders().IsEmpty()) {
        <img src="@Model.GetHeaders().FirstOrDefault()" alt="@Model.Name" width="884" height="22" />
    } else {
        <div class="Estilo44" style="display:inline; background-color:#315F8D; font-size:16px; padding: 3px 204px 12px 3px;">@Model.Name.ToUpper()</div>
        <div class="Estilo67" style="float:right; font-size:16px;">@Model.Serie.Name</div>
        <img src="@Url.Content("~/Content/Images/spacer.png")" alt="spacer" width="100%" height="12" />
    }
}

@helper RenderPopUp() {
    
    if (!Model.GetPopUp().IsEmpty()) {
        <p>
            <a href="@Model.GetPopUp().FirstOrDefault(i => i.Contains("popup"))" class="thickbox">
                <img src="@Model.GetPopUp().FirstOrDefault(i => i.Contains("side"))" alt="@Model.Name" width="163" border="0" />
            </a>
        </p>
    }
}

@helper RenderManual() {

    if (Model.GetManual() != null) {
        <p>
            <a href="@Model.GetManual()" target="_blank">
                <img src="@Url.Content("~/Content/Images/user-manual.png")" alt="user manual" width="33" height="40" />
                <b>@Localization.User_Manual</b></a>
        </p>
    }
}

@helper RenderHiRes() {
    
    if (!Model.GetHiRes().IsEmpty()) {
        <p>
            <a href="@Url.RouteUrl("HiRes", new { controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"], id = Model.Id, name = Model.Name.ToSeoSlug() })">
            <img src="@Url.Content("~/Content/Images/hi-res-photos.jpg")" alt="@Localization.HiRes_Pics" style="margin-right:5px;" width="30" height="24" />
            <b>@Localization.HiRes_Pics</b></a>
        </p>
    }
}

@Html.Separator()

<tr>
    <td width="45">
        &nbsp;
    </td>
    <td colspan="9">
        @RenderHeader()
    </td>
    <td width="54">
        &nbsp;
    </td>
</tr>

@Html.Scheme()

<tr>
    <td height="19">
        &nbsp;
    </td>
    <td align="center" valign="top">
        @RenderPopUp()
        @RenderManual()
        @RenderHiRes()
    </td>
    <td align="center" valign="middle">
        &nbsp;
    </td>
    <td colspan="7" align="center" valign="top">
        <p align="justify" class="Estilo82">
            @Html.Raw(Localization.Speakers_Detail_SArray_Message)</p>
        
        @Html.Partial("_Attribute", Model.Attributes.Take(15))</p>
        <p>&nbsp;</p>
        @Html.Partial("_Attribute", Model.Attributes.Skip(15).Take(18))
        <p>&nbsp;</p>
        @Html.Partial("_Attribute", Model.Attributes.Skip(33))
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Separator()
