@using Framework.Common.Extensions
@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

<h4>@Model.Assn_CategorySerie.Serie.Name.ToUpper()</h4>
<div class="title">
    <h1>@Model.Product.Name.ToUpper()</h1>
</div>

@Html.Header()

@foreach (var src_image in Model.Product.GetHiRes().OrderBy(i => i))
{
    <img src="@src_image" alt="@ViewBag.Title" style="position: relative; left: -18px;" />
}

<h4 class="modules">@Html.Raw(ProcessorsResource.Modules_HiRes_Cs_Wsl)</h4>

<div style="margin-bottom:30px;float:left;">
    @Html.Manual()
</div>
