@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

@Html.Separator()

<tr>
    <td width="45">
        &nbsp;
    </td>
    <td colspan="9">
        @Html.ProductHeader()
    </td>
    <td width="54">
        &nbsp;
    </td>
</tr>

@Html.Scheme()

<tr>
    <td height="19">
        &nbsp;
    </td>
    <td align="center" valign="top">
        @Html.ProductPopUp()
        @Html.ProductManual()
        @Html.ProductHiRes()
    </td>
    <td align="center" valign="middle">
        &nbsp;
    </td>
    <td colspan="7" align="center" valign="top">
        @Html.Partial("_ProductAttributes", Model.Product.Attributes.Take(18))
        <p>
            <img src="@Url.Content("~/Content/Images/t-array-sat28p-dimensions.jpg")" alt="sat28p dimensions" width="696" height="238" /></p>
        
        @Html.Partial("_ProductAttributes", Model.Product.Attributes.Skip(18))
        <p>
            <img src="@Url.Content("~/Content/Images/t-array-sat18p-dimensions.jpg")" alt="sat18p dimensions" width="696" height="471" /></p>
        <p>
            &nbsp;</p>
        <p>
            <img src="@Url.Content("~/Content/Images/t-array-deploying.jpg")" alt="t-array deployment" width="696" height="500"></p>
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Separator()
