@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

@Html.Separator()

<tr>
    <td width="45">
        &nbsp;
    </td>
    <td colspan="9">
        @Html.ProductHeader()
    </td>
    <td width="54">
        &nbsp;
    </td>
</tr>

@Html.Separator()

<tr>
    <td>
        &nbsp;
    </td>
    <td colspan="9">
        <p class="Estilo4" align="justify">
            @Localization.Mixers_Detail_Dmx244_Message</p>
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Scheme()

<tr>
    <td height="19">
        &nbsp;
    </td>
    <td align="center" valign="top">
        @Html.ProductPopUp()
        @Html.ProductManual()
        @Html.ProductHiRes()
    </td>
    <td align="center" valign="middle">
        &nbsp;
    </td>
    <td colspan="7" align="center" valign="top">
        @Html.ProductAttributes()
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Separator()

<tr>
    <td height="20">
        &nbsp;
    </td>
    <td colspan="9" align="center" bgcolor="#A0BFDE">
        <a href="@Url.Content("~/Content/Others/DMX24.4 Fireware Update(v2.9).zip")" target="_blank">@Localization.Mixers_Detail_Dmx244_Firmware_Download</a>
    </td>
    <td>
        &nbsp;
    </td>
</tr>
<tr>
    <td height="20">
        &nbsp;
    </td>
    <td colspan="9" align="center" bgcolor="#CCCCCC">
        <a href="@Url.Content("~/Content/Others/MP24M MCU Firmware update Instruction.zip")" target="_blank">@Localization.Mixers_Detail_Dmx244_Firmware_Instructions</a>
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Separator()

<tr>
    <td height="20">
        &nbsp;
    </td>
    <td colspan="9" align="center">
        <a href="https://itunes.apple.com/cn/app/cs-eq/id838175440?mt=8" target="_blank">
            <img src="@Url.Content("~/Content/Images/mx244-app.jpg")" alt="mx24.4 app" width="880" height="200" border="0"></a>
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Separator()
