@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

@Html.Separator()

<tr>
    <td width="45">
        &nbsp;
    </td>
    <td colspan="9">
        @Html.ProductHeader()
    </td>
    <td width="54">
        &nbsp;
    </td>
</tr>

@Html.Scheme()

<tr>
    <td height="19">
        &nbsp;
    </td>
    <td align="center" valign="top">
        @Html.ProductPopUp()
        @Html.ProductManual()
        @Html.ProductHiRes()
    </td>
    <td align="center" valign="middle">
        &nbsp;
    </td>
    <td colspan="7" align="center" valign="top">
        @Html.ProductAttributes()
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Separator()
