@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerie

@Html.Separator()

<tr>
    <td width="55">
        &nbsp;
    </td>
    <td colspan="9">
        <img id="@Model.Serie.Name.ToSeoSlug()" src="@Url.Content("~/Content/Images/i4k-series-spacer.png")" alt="@Model.Serie.Name.ToUpper() SERIES" width="881" height="43" />
    </td>
    <td width="55">
        &nbsp;
    </td>
</tr>

@Html.Separator()

@if (!Model.Assn_CategorySerieProduct.IsEmpty())
{
<tr>
    <td>
        &nbsp;
    </td>
    <td>
        <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td colspan="3" bgcolor="#F6F6F6" align="center">
                    @if (Model.Assn_CategorySerieProduct.FirstOrDefault().Product.GetThumbs().IsEmpty())
                    {
                        <img src="@Url.Content("~/Content/Images/coming-soon.jpg")" alt="@Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Name" name="@(string.Format("Image{0}", Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Id))"
                        width="100%" height="148" border="0" id="@(string.Format("Image{0}", Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Id))" />
                    }
                    else
                    {
                        <a href="@Url.RouteUrl("Detail", new { controller = "Packs", id = Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Id, name = Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Name.ToSeoSlug() })" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('@(string.Format("Image{0}", Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Id))','','@(Model.Assn_CategorySerieProduct.FirstOrDefault().Product.GetThumbs().Where(t => t.Contains("up")).DefaultIfEmpty<string>(Url.Content("~/Content/Images/coming-soon.jpg")).First())',1)">
                            <img src="@(Model.Assn_CategorySerieProduct.FirstOrDefault().Product.GetThumbs().Where(t => !t.Contains("up")).DefaultIfEmpty<string>(Url.Content("~/Content/Images/coming-soon.jpg")).First())" alt="@Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Name" name="@(string.Format("Image{0}", Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Id))"
                                width="100%" height="148" border="0" id="@(string.Format("Image{0}", Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Id))" />
                        </a>
                    }
                </td>
            </tr>
            <tr>
                <td colspan="3" height="24" align="center" bgcolor="#315F8D">
                    <span class="Estilo44">@Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Name</span>
                </td>
            </tr>
            <tr>
                <td colspan="3" align="center" height="20px">
                    <input type="checkbox" id="@Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Folder" value="@Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Id" data-text="@Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Name.ToSeoSlug()" />
                    <label for="@Model.Assn_CategorySerieProduct.FirstOrDefault().Product.Folder">@Localization.Add_To_Compare</label>
                </td>
            </tr>
        </table>
    </td>
    <td>
        &nbsp;
    </td>
    <td colspan="7" valign="top">
        <img src="@Url.Content("~/Content/Images/i4K-2000w.jpg")" alt="@Localization.Packs_Index_i4K_2000W" width="698" height="148" border="0" />
    </td>
    <td>
        &nbsp;
    </td>
</tr>
}
