@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerie

@Html.Separator()

<tr>
    <td width="55">
        &nbsp;
    </td>
    <td colspan="9">
        <img id="@Model.Serie.Name.ToSeoSlug()" src="@Url.Content("~/Content/Images/" + Model.Serie.Name.Strip(' ').ToLower() + "-series-spacer.png")" alt="@Model.Serie.Name.ToUpper() SERIE" width="881" height="43" />
    </td>
    <td width="55">
        &nbsp;
    </td>
</tr>

@Html.Separator()
@Html.Pattern()

@if (!Model.Assn_CategorySerieProduct.IsEmpty())
{
    @Html.Partial(
        "_ProductPartial",
        Model.Assn_CategorySerieProduct
                .Where(a => a.Enabled)
                .OrderBy(a => a.Priority)
                .Select(a => a.Product),
        new ViewDataDictionary(ViewContext.ViewData) { { "MaxPerLine", Model.ItemsPerLine.GetValueOrDefault(5) } });
}
