@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Serie

@Html.Separator()

<tr>
    <td width="55">
        &nbsp;
    </td>
    <td colspan="9">
        <img src="@Url.Content("~/Content/Images/tpm-series-spacer.png")" alt="@Model.Name.ToUpper() SERIES" width="881" height="43">
    </td>
    <td width="55">
        &nbsp;
    </td>
</tr>

@Html.Separator()
@Html.Pattern()

@if (!Model.Products.IsEmpty())
{
    @Html.Partial("_ProductPartial", Model.Products.Where(p => p.Enabled).OrderBy(p => p.Priority), new ViewDataDictionary { { "MaxPerLine", 3 } })
}
