@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerie

@Html.Separator()

<tr>
    <td width="55">
        &nbsp;
    </td>
    <td colspan="9">
        <img src="@Url.Content("~/Content/Images/soho-series-spacer.png")" alt="@Model.Serie.Name.ToUpper() SERIES" width="881" height="43" />
    </td>
    <td width="55">
        &nbsp;
    </td>
</tr>

@Html.Separator()

<tr>
    <td>
        &nbsp;
    </td>
    <td colspan="9">
        <p align="justify" class="Estilo82">
            <span class="Estilo85">@Html.Raw(Localization.Packs_Index_Soho_Title)</span>
            <br />
            <br />
            <span class="Estilo90">@Html.Raw(Localization.Packs_Index_Soho_Subtitle)</span>
        </p>
        <p align="justify" class="Estilo82">
            <span class="Estilo76">@Html.Raw(Localization.Packs_Index_Soho_Message)</span>
            <br />
        </p>
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Pattern()

@if (!Model.Assn_CategorySerieProduct.IsEmpty())
{
    @Html.Partial(
        "_ProductPartial",
        Model.Assn_CategorySerieProduct
                .Where(a => a.Enabled)
                .OrderBy(a => a.Priority)
                .Select(a => a.Product),
        new ViewDataDictionary(ViewContext.ViewData) { { "MaxPerLine", Model.ItemsPerLine.GetValueOrDefault(5) } });
}
