@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerie
           
@functions {

    string ResolveUrl(Topppro.Entities.Assn_CategorySerieProduct assn)
    {
        if (assn.Product.Draft)
            return "javascript:void(0)";

        return Url.RouteUrl("Detail", new { controller = ViewContext.RouteData.Values["controller"], id = assn.Id, name = assn.Product.Name.ToSeoSlug() });
    }

    bool ResolveAllowCompare(Topppro.Entities.Assn_CategorySerieProduct assn)
    {
        return assn.AllowCompare && assn.Assn_CategorySerie.AllowCompare;
    }
}

@Html.Separator()

<tr>
    <td width="55">
        &nbsp;
    </td>
    <td colspan="9">
        <img src="@Url.Content("~/Content/Images/tmw-series-spacer.png")" alt="@Model.Serie.Name.ToUpper() SERIES" width="881" height="43" />
    </td>
    <td width="55">
        &nbsp;
    </td>
</tr>

@Html.Separator()
@Html.Pattern()

@if (!Model.Assn_CategorySerieProduct.IsEmpty())
{
<tr>
    <td>&nbsp;</td>
    @foreach (var assn in Model.Assn_CategorySerieProduct)
    {
        if (Model.Assn_CategorySerieProduct.ToList().IndexOf(assn) != 0
            && (Model.Assn_CategorySerieProduct.ToList().IndexOf(assn) % Model.ItemsPerLine) == 0)
        {
            @:</tr>
            @Html.Separator()
            @:<tr>
                <td>&nbsp;</td>
        }
    
        <td @(assn.Product.Id == 122 ? "colspan=3" : "")>
            <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td colspan="3" align="left">
                        <a href="@ResolveUrl(assn)" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('@(string.Format("Image{0}", assn.Id))','','@(assn.Product.GetThumbs().Where(t => t.Contains("up")).DefaultIfEmpty<string>(Url.Content("~/Content/Images/coming-soon.jpg")).First())',1)">
                            <img src="@(assn.Product.GetThumbs().Where(t => !t.Contains("up")).DefaultIfEmpty<string>(Url.Content("~/Content/Images/coming-soon.jpg")).First())" alt="@assn.Product.Name" name="@(string.Format("Image{0}", assn.Id))"
                                @(assn.Product.Id != 122 ? "width=148" : "") height="148" border="0" id="@(string.Format("Image{0}", assn.Id))" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="@Url.Content("~/Content/Images/middle1-separator.png")" width="1" height="24" alt="spacer" />
                    </td>
                    <td align="center">
                        <span class="Estilo6">@assn.Product.Name</span>
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td align="center" height="20px">
                        @if (ResolveAllowCompare(assn))
                        {
                        <input type="checkbox" id="@assn.Product.Folder" value="@assn.Id" data-text="@assn.Product.Name.ToSeoSlug()" />
                        <label for="@assn.Product.Folder">@Localization.Add_To_Compare</label>
                        }
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
        </td>
        <td>&nbsp;</td>
    }
</tr>
}
