@using Topppro.WebSite.Resources
@using Topppro.WebSite.Extensions
@using Framework.Common.Extensions

@model Topppro.Entities.Assn_CategorySerie

@Html.Separator()

<tr>
    <td width="55">
        &nbsp;
    </td>
    <td colspan="9">
        <img id="@Model.Serie.Name.ToSeoSlug()" src="@Url.Content("~/Content/Images/ks-series-spacer.png")" alt="@Model.Serie.Name.ToUpper() SERIES" width="881" height="43" />
    </td>
    <td width="55">
        &nbsp;
    </td>
</tr>

@Html.Separator()

<tr>
    <td>
        &nbsp;
    </td>
    <td colspan="9">
        <p align="justify" class="Estilo82">
            <span class="Estilo85">@Html.Raw(Localization.Speakers_Index_Ks_Title)</span>
            <br />
            <br />
            <span class="Estilo90">@Html.Raw(Localization.Speakers_Index_Ks_Subtitle)</span>
        </p>
        <p align="justify" class="Estilo82">
            <span class="Estilo76">@Html.Raw(Localization.Speakers_Index_Ks_Message)</span><br />
        </p>
    </td>
    <td>
        &nbsp;
    </td>
</tr>

@Html.Pattern()

@Html.ProductList(
    Model.Assn_CategorySerieProduct
        .Where(a => a.Product.ModelId == (int)Topppro.Entities.Model_Enum.Active)
        .OrderBy(a => a.Priority)
        .Take(5))

@Html.Spacer()
@Html.Separator()

@Html.ProductList(
    Model.Assn_CategorySerieProduct
        .Where(a => a.Product.ModelId == (int)Topppro.Entities.Model_Enum.Active)
        .OrderBy(a => a.Priority)
        .Skip(5).Take(3))

@Html.Spacer()
@Html.Separator()


@Html.ProductList(
    Model.Assn_CategorySerieProduct
        .Where(a => a.Product.ModelId == (int)Topppro.Entities.Model_Enum.Active)
        .OrderBy(a => a.Priority)
        .Skip(8).Take(2))
    
@Html.Spacer()
@Html.Separator()
    
<tr>
    <td>
        &nbsp;
    </td>
    <td colspan="9">
        <a href="https://itunes.apple.com/en/app/cs-eq/id838175440?mt=8#" target="_blank">
            <img src="@Url.Content("~/Content/Images/cs-app.jpg")" alt="itunes free app" width="880" height="200" border="0" longdesc="controls ip and wifi speakers" /></a>
    </td>
    <td>
        &nbsp;
    </td>
</tr>
    
@Html.Separator()
@Html.Spacer()
@Html.Separator()

@Html.ProductList(
    Model.Assn_CategorySerieProduct
        .Where(a => a.Product.ModelId == (int)Topppro.Entities.Model_Enum.Passive)
        .OrderBy(a => a.Priority))

