@using Framework.MVC.Resources
@using Topppro.Entities.Resources

@model Topppro.Entities.Category

@{
    ViewBag.Title = PersistanceResource.Create;
}

<h2>@PersistanceResource.Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Ent_CategoryResource._Caption</legend>

        <!--
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        -->
        
        <div class="form-group">
            @Html.LabelFor(model => model.Name)
            <!--<input class="form-control" data-val="true" data-val-required="This field is required" id="Name" name="Name" type="text" value="" />-->
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control", style = "width:400px;" })
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input class="btn btn-primary" type="submit" value="@PersistanceResource.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}
