@using Framework.MVC.Resources
@using Topppro.Entities.Resources

@model Topppro.Entities.Category

@{
    ViewBag.Title = PersistanceResource.Edit;
}

@section Styles
{
    <style type="text/css">
        .tooltip-inner
        {
            max-width: 300px;
            padding: 0;
        }
        .tooltip-alert
        {
            padding: 8px 10px;
            font-weight: bolder;
            color: #A94442;
        }
    </style>
}

<h2>@PersistanceResource.Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Ent_CategoryResource._Caption</legend>

        @Html.HiddenFor(model => model.CategoryId)
        @Html.EditorForModel()

        <p>
            <input class="btn btn-primary" type="submit" value="@PersistanceResource.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Html.Partial("_Validation")
}
