@using Framework.MVC.Resources
@using Topppro.WebSite.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

<li data-id="@Model.Id">
    <img src="@Model.Product.GetThumbs().FirstOrDefault(t => !t.Contains("up"))" alt="@Model.Product.Name" />
    <br /><b>@Model.Product.Name</b>
    <div class="btn-group btn-group-xs pull-right">
        @Ajax.ActionLink(PersistanceResource.Edit, "Edit", null, 
            new { id = Model.Id },
            new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "dialog-assn-form", OnSuccess = "$.validator.unobtrusive.parse($('#dialog-assn-form')); $('#dialog-assn').modal({ show: true });" },
            new { @class = "btn btn-warning", @title = PersistanceResource.Edit })
        @Ajax.ActionLink(PersistanceResource.Delete, "Delete", null,
            new { id = Model.Id },
            new AjaxOptions() { HttpMethod = "Post", Confirm = PersistanceResource.Delete_Message, OnSuccess = "el.remove();" },
            new { @class = "btn btn-danger", @title = PersistanceResource.Delete, @onclick = "el = $(this).parents('li');" })
    </div>
</li>
