@using Framework.MVC.Resources
@using Topppro.WebSite.Extensions
@using Topppro.Entities.Resources

@model Topppro.Entities.Assn_CategorySerieProduct

<li data-id="@Model.Id">
    <img src="@Model.Product.GetThumbs().FirstOrDefault(t => !t.Contains("up"))" alt="@Model.Product.Name" />
    <b>@Model.Product.Name</b>
    <div class="clearfix">
        <div class="pull-left">
            @if (Model.Enabled)
                { <i class="fa fa-eye" title="@Ent_AssnCategorySerieProductResource.Entity_Enabled"></i> }
            @if (Model.AllowCompare)
                { <i class="fa fa-adjust" title="@Ent_AssnCategorySerieProductResource.Entity_AllowCompare"></i> }
        </div>                                                                                                        
        <div class="btn-group pull-right">
		    <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">
                @PersistanceResource.Actions <span class="caret"></span></button>
		    <ul class="dropdown-menu">
                <li>
                    @Html.ActionLink(PersistanceResource.Edit, "Edit", null,
                        new { id = Model.Id },
                        new { @class = "editor-dialog", @role = "button", @type = "type-warning", @title = string.Format("{0} {1}", PersistanceResource.Edit, Model.Product.Name) })
                </li>
                <li>
                    @Ajax.ActionLink(PersistanceResource.Delete, "Delete", null,
                        new { id = Model.Id },
                        new AjaxOptions() { HttpMethod = "Post", Confirm = PersistanceResource.Delete_Message, OnSuccess = "el.remove();" },
                        new { @title = PersistanceResource.Delete, @onclick = "el = $(this).parents('ol > li');" })
                </li>
		    </ul>
	    </div>
    </div>
</li>
