@using Framework.MVC.Extensions
@using Framework.MVC.Resources
@using Topppro.Entities.Resources

@model Topppro.Entities.Assn_CategorySerieProduct

@{
    ViewBag.Title = PersistanceResource.Details;
}

<h2>@PersistanceResource.Details</h2>

<fieldset>
    <legend>@Ent_AssnCategorySerieProductResource._Caption</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AssnCategorySerieId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Assn_CategorySerie.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProductId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AllowCompare)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AllowCompare)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Enabled)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Enabled)
    </div>

</fieldset>
<p>
    @Html.ActionLink(PersistanceResource.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
