@using Framework.MVC.Extensions
@using Framework.MVC.Resources
@using Topppro.Entities.Resources
@using Topppro.WebSite.Extensions

@model Topppro.Entities.Assn_CategorySerie

@{
    ViewBag.Title = PersistanceResource.Index;
}

@section Styles {
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/themes/base/jquery-ui-1.10.4.min.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        ol
        {
            counter-reset: li;
            margin-left: 0;
            padding-left: 0;
        }
        ol > li
        {
            position: relative;
            margin: 0 0 6px 0;
            padding: 4px 8px;
            list-style: none;
            border-top: 2px solid #666;
            background: #c6c6c6;
            display: inline-block;
        }
        li img
        {
            padding: 0 0 6px 0;
        }
        ol > li:before
        {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            top: -2px;
            left: 0;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            width: 2em;
            
            margin-right: 8px;
            padding: 4px;
            border-top: 2px solid #666;
            color: #fff;
            background: #666;
            font-weight: bold;
            text-align: center;
        }
        li ol, li ul
        {
            margin-top: 6px;
        }
        ol ol li:last-child
        {
            margin-bottom: 0;
        }
        .ui-state-highlight
        {
            border-style: dashed;
        }
        .ui-state-active
        {
            padding: 2px;
            margin-bottom: 5px;
        }
        .modal-header
        {
            background-color: #800000;
            color: #ffffff;
        }
        .tooltip-inner
        {
            max-width: 300px;
            padding: 0;
        }
        .tooltip-alert
        {
            padding: 8px 10px;
            font-weight: bolder;
            color: #A94442;
        }
    </style>
}

<h2>@PersistanceResource.Index</h2>
<h5>@Ent_AssnCategorySerieProductResource._Caption</h5>
<hr />

<div class="row">
	<div class="col-md-3 col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Ent_ProductResource._Caption</h3>
            </div>
            <div class="panel-body" style="max-height: 400px; overflow-y: scroll;">
                <ul class="draggable list-unstyled">
                    @foreach (var product in ViewBag.Products)
                    {
                        <li class="ui-state-active" data-id="@product.Id">@product.Name</li>
                    }
                </ul>
            </div>
        </div>
    </div>
	<div class="col-md-9 col-sm-9">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">@Model.Category.Name</h3>
                <small>@Model.Serie.Name</small>
            </div>
            <div class="panel-body">
                <ol class="sortable" data-id="@Model.Id" style="min-height: 20px;">
                @foreach (var assn in Model.Assn_CategorySerieProduct.OrderBy(a => a.Priority))
                {
                    <li data-id="@assn.Id">
                        <img src="@assn.Product.GetThumbs().FirstOrDefault(t => !t.Contains("up"))" alt="@assn.Product.Name" />
                        <br /><b>@assn.Product.Name</b>
                        <div class="btn-group btn-group-xs pull-right">
                            @Ajax.ActionLink(PersistanceResource.Edit, "Edit", null, 
                                new { id = assn.Id },
                                new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "dialog-assn-form", OnSuccess = "$.validator.unobtrusive.parse($('#dialog-assn-form')); $('#dialog-assn').modal({ show: true });" },
                                new { @class = "btn btn-warning", @title = PersistanceResource.Edit })
                            @Ajax.ActionLink(PersistanceResource.Delete, "Delete", null,
                                new { id = assn.Id },
                                new AjaxOptions() { HttpMethod = "Post", Confirm = PersistanceResource.Delete_Message, OnSuccess = "el.remove();" },
                                new { @class = "btn btn-danger", @title = PersistanceResource.Delete, @onclick = "el = $(this).parents('li');" })
                        </div>
                    </li>
                }
                </ol>
            </div>
        </div>
        <div>
            @Html.ActionLink("Back to List", "Index", "AssnCategorySerie")
        </div>
	</div>
</div>

@*Modal Window Editor*@
<div id="dialog-assn" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Ajax.BeginForm("Edit", null,
                new AjaxOptions() { UpdateTargetId = "dialog-assn-form", LoadingElementId = "modal-loader", OnSuccess = "$('#dialog-assn').modal('hide');" }, new { @id = "dialog-assn-form" }))
            {
            }
        </div>
    </div>
</div>

@section Scripts {
    @Html.Partial("_Validation")
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script type="text/javascript">

        var el;

        $(document).ajaxError(function (event, xhr, settings, error) {
            alert(xhr.statusText);
        });

        $(function () {

            $('.draggable > li').draggable({
                cursor: 'move',
                revert: 'invalid',
                connectToSortable: '.sortable',
                helper: 'clone'
            });

            $('.sortable').sortable({
                forceHelperSize: true,
                forcePlaceholderSize: true,
                placeholder: 'ui-state-highlight',
                receive: function (event, ui) {

                    var el = $(this).data().uiSortable.currentItem;

                    $.post(
                        '@Url.Action("Insert")',
                        { assnCategorySerieId: el.parent().data('id'), productId: el.data('id'), priority: $(this).data('ui-sortable').currentItem.index() + 1 },
                        function (data, status, xhr) {
                            el.replaceWith(data);
                            el.addClass('new');
                        });

                    return true;
                },
                update: function (event, ui) {
                    if (!ui.item.hasClass('new')) {
                        $.post('@Url.Action("Reorder")', { id: $(ui.item).data('id'), priority: ui.item.index() + 1 });
                    }
                    ui.item.removeClass();
                }
            }).disableSelection();
        });
    </script>
}

