@using Framework.MVC.Resources
@using Topppro.Entities.Resources;

@model Topppro.Entities.Assn_CategorySerie

@{
    ViewBag.Title = PersistanceResource.Create;
}

<h2>@PersistanceResource.Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Ent_AssnCategorySerieResource._Caption</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CategoryId", PersistanceResource.Selection)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SerieId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("SerieId", PersistanceResource.Selection)
            @Html.ValidationMessageFor(model => model.SerieId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ItemsPerLine)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ItemsPerLine)
            @Html.ValidationMessageFor(model => model.ItemsPerLine)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AllowCompare)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AllowCompare)
            @Html.ValidationMessageFor(model => model.AllowCompare)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Priority)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Priority)
            @Html.ValidationMessageFor(model => model.Priority)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enabled)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Enabled)
            @Html.ValidationMessageFor(model => model.Enabled)
        </div>

        <p>
            <input type="submit" value="@PersistanceResource.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
}