@using Topppro.WebSite.Areas.SecureSite.Extensions

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>.:: Topppro - Control Panel ::.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<link href="@Url.Content("~/Areas/SecureSite/Content/Styles/themes/base/jquery-ui-1.10.4.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/custom.css")" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery-1.10.2.min.js")" type="text/javascript" language="javascript"></script>
</head>
<body>
    <div id="wrapper">
        @Html.Menu()
        <div id="page-wrapper" >
            <div id="page-inner">
            @RenderBody()
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery-ui-1.10.4.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/bootstrap.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/metisMenu/jquery.metisMenu.js")" type="text/javascript" language="javascript"></script>
    @*<script src="@Url.Content("~/Areas/SecureSite/Scripts/morris/raphael-2.1.0.min.js")" type="text/javascript" language="javascript"></script>*@
    @*<script src="@Url.Content("~/Areas/SecureSite/Scripts/morris/morris.js")" type="text/javascript" language="javascript"></script>*@
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/custom.js")" type="text/javascript" language="javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>
