<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>.:: Topppro - Control Panel ::.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/custom.css")" rel="stylesheet" type="text/css"/>
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/themes/base/jquery-ui-1.10.4.min.css")" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Binary admin</a> 
            </div>
            <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;"> Last access : 30 May 2014 &nbsp; <a href="login.html" class="btn btn-danger square-btn-adjust">Logout</a></div>
        </nav>
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<li class="text-center">
                    <img src="@Url.Content("~/Areas/SecureSite/Content/Images/find_user.png")" class="user-image img-responsive" alt="" />
					</li>
                    <li>
                        <a class="active-menu"  href="index.html"><i class="fa fa-dashboard fa-3x"></i> Dashboard</a>
                    </li>
                     <li>
                        <a  href="ui.html"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
                    </li>
                    <li>
                        <a  href="tab-panel.html"><i class="fa fa-qrcode fa-3x"></i> Tabs & Panels</a>
                    </li>
						   <li  >
                        <a   href="chart.html"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
                    </li>	
                      <li  >
                        <a  href="table.html"><i class="fa fa-table fa-3x"></i> Table Examples</a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-3x"></i> Forms </a>
                    </li>				
					 <li  >
                        <a   href="login.html"><i class="fa fa-bolt fa-3x"></i> Login</a>
                    </li>	
                     <li  >
                        <a   href="registeration.html"><i class="fa fa-laptop fa-3x"></i> Registeration</a>
                    </li>	
					                   
                    <li>
                        <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link</a>
                            </li>
                            <li>
                                <a href="#">Second Level Link<span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third Level Link</a>
                                    </li>

                                </ul>
                               
                            </li>
                        </ul>
                      </li>  
                  <li  >
                        <a  href="blank.html"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                    </li>	
                </ul>
            </div>
        </nav>  
        <div id="page-wrapper" >
            <div id="page-inner">
            @RenderBody()
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery-1.10.2.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery-ui-1.10.4.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/bootstrap.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/metisMenu/jquery.metisMenu.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/morris/raphael-2.1.0.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/morris/morris.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/custom.js")" type="text/javascript" language="javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>
