<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>.:: Topppro - Control Panel ::.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @*<link href="@Url.Content("~/Areas/SecureSite/Content/Styles/themes/base/jquery-ui-1.10.4.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Areas/SecureSite/Content/Styles/custom.css")" rel="stylesheet" type="text/css"/>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery-1.10.2.min.js")" type="text/javascript" language="javascript"></script>
    @RenderSection("Styles", false)
</head>
<body>
    <div class="container">
    @RenderBody()
    </div>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/jquery-ui-1.10.4.min.js")" type="text/javascript" language="javascript"></script>
    <script src="@Url.Content("~/Areas/SecureSite/Scripts/bootstrap.min.js")" type="text/javascript" language="javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>