@using Topppro.Context;
@using Framework.MVC.Extensions;
@using Topppro.WebSite.Areas.SecureSite.Resources;

@model Topppro.WebSite.Areas.SecureSite.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
}

@section Title 
{
    <div class="row">
        <div class="col-md-12">
            <h2>@DashboardResource._Title</h2>
            <h5>@string.Format(DashboardResource.Wellcome, User.Identity.Name)</h5>
        </div>
    </div>
    <hr />
}

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6">
        <a href="@Url.Action("Index", "Product")" class="no-underline">
            <div class="panel panel-primary text-center no-boder bg-color-red">
                <div class="panel-body">
                    <i class="fa fa-cubes fa-5x"></i>
                    <h3>
                        @Html.DisplayFor(m => m.Summary.Products) @Html.DisplayNameFor(m => m.Summary.Products)
                    </h3>
                </div>
                <div class="panel-footer back-footer-red">
                    @DashboardResource.Total
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <a href="@Url.Action("Index", "Serie")" class="no-underline">
            <div class="panel panel-primary text-center no-boder bg-color-green">
                <div class="panel-body">
                    <i class="fa fa-tags fa-5x"></i>
                    <h3>
                        @Html.DisplayFor(m => m.Summary.Series) @Html.DisplayNameFor(m => m.Summary.Series)
                    </h3>
                </div>
                <div class="panel-footer back-footer-green">
                    @DashboardResource.Total
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <a href="@Url.Action("Index", "Distributor")" class="no-underline">
            <div class="panel panel-primary text-center no-boder bg-color-blue">
                <div class="panel-body">
                    <i class="fa fa-shopping-cart fa-5x"></i>
                    <h3>
                        @Html.DisplayFor(m => m.Summary.Distributors) @Html.DisplayNameFor(m => m.Summary.Distributors)
                    </h3>
                </div>
                <div class="panel-footer back-footer-blue">
                    @DashboardResource.Total
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6">
        <a href="@Url.Action("Unassigned", "Product")" class="no-underline">
            <div class="panel panel-primary text-center no-boder bg-color-brown">
                <div class="panel-body">
                    <i class="fa fa-ban fa-5x"></i>
                    <h3>
                        @Html.DisplayFor(m => m.Unassigned.Products) @Html.DisplayNameFor(m => m.Unassigned.Products)
                    </h3>
                </div>
                <div class="panel-footer back-footer-brown">
                    @DashboardResource.Unassigned
                </div>
            </div>
        </a>
    </div>
</div>
<!-- /. ROW  -->
