@using Framework.MVC.Extensions

@model Topppro.WebSite.Areas.SecureSite.Models.LogOnModel

@{
    Layout = "~/Areas/SecureSite/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="row text-center ">
    <div class="col-md-12">
        <br />
        <br />
        <h2>
            Topppro : Profesional Audio Gear</h2>
        <h5>
            ( Secure Site Administration Tool )</h5>
        <br />
    </div>
</div>
<div class="row ">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong> Login </strong>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm()) 
                {
                    @Html.ValidationSummary(false, null, new { @class = "text-danger" })
                    <br />
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.UserName) })
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                    </div>
                    <div class="form-group">
                        <label class="checkbox-inline">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login Now</button>
                    <hr />
                }
            </div>
        </div>
    </div>
</div>
