@using Topppro.WebSite.Areas.Humanist.Extensions

<table width="1000" border="0" align="center" cellpadding="0" cellspacing="0">
    <!-- fwtable fwsrc="Sin título" fwpage="Página 1" fwbase="menu.jpg" fwstyle="Dreamweaver" fwdocid = "1026781304" fwnested="0" -->
    <tbody>
        <tr>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="111" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="21" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="14" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="76" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="71" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="40" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="112" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="111" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="111" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="111" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="111" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="111" height="1" border="0" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="1" height="1" border="0" alt="" />
            </td>
        </tr>
        <tr>
            <td rowspan="5" colspan="2">
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r1_c1.jpg")" alt="" name="menu_r1_c1" width="132" height="131" border="0"
                    usemap="#menu_r1_c1Map" id="menu_r1_c1" />
            </td>
            <td rowspan="5">
                <img name="menu_r1_c3" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r1_c3.jpg")" width="14" height="131" border="0"
                    id="menu_r1_c3" alt="" />
            </td>
            <td colspan="6">
                <img name="menu_r1_c4" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r1_c4.jpg")" width="521" height="30" border="0"
                    id="menu_r1_c4" alt="" />
            </td>
            <td rowspan="2" colspan="3">
                <img name="menu_r1_c10" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r1_c10.jpg")" width="333" height="40" border="0"
                    id="menu_r1_c10" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="1" height="30" border="0" alt="" />
            </td>
        </tr>
        <tr>
            <td rowspan="3" colspan="2">
                <img name="menu_r2_c4" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r2_c4.jpg")" width="147" height="71" border="0"
                    id="menu_r2_c4" alt="" />
            </td>
            <td rowspan="3" colspan="2">
                <img name="menu_r2_c6" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r2_c6.jpg")" width="152" height="71" border="0"
                    id="menu_r2_c6" alt="" />
            </td>
            <td rowspan="3">
                <img name="menu_r2_c8" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r2_c8.jpg")" width="111" height="71" border="0"
                    id="menu_r2_c8" alt="" />
            </td>
            <td rowspan="3">
                <img name="menu_r2_c9" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r2_c9.jpg")" width="111" height="71" border="0"
                    id="menu_r2_c9" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="1" height="10" border="0" alt="" />
            </td>
        </tr>
        <tr>
            <td>
                <img name="menu_r3_c10" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r3_c10.jpg")" width="111" height="48" border="0"
                    id="menu_r3_c10" alt="" />
            </td>
            <td>
                <img name="menu_r3_c11" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r3_c11.jpg")" width="111" height="48" border="0"
                    id="menu_r3_c11" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r3_c12.jpg")" alt="" name="menu_r3_c12" width="111" height="48"
                    border="0" usemap="#menu_r3_c12Map" id="menu_r3_c12" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="1" height="48" border="0" alt="" />
            </td>
        </tr>
        <tr>
            <td rowspan="2" colspan="3">
                <img name="menu_r4_c10" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r4_c10.jpg")" width="333" height="43" border="0"
                    id="menu_r4_c10" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="1" height="13" border="0" alt="" />
            </td>
        </tr>
        <tr>
            <td colspan="6">
                <img name="menu_r5_c4" src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r5_c4.jpg")" width="521" height="30" border="0"
                    id="menu_r5_c4" alt="" />
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="1" height="30" border="0" alt="" />
            </td>
        </tr>
        <tr>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = "Speakers" })" onmouseover="MM_swapImage('MenuSPK','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c1-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c1.jpg")"
                        alt="speakers" name="MenuSPK" width="111" height="41" border="0" id="MenuSPK" /></a>
            </td>
            <td colspan="3">
                <a href="@Url.RouteUrl("Catalog", new { controller = "Amplifiers" })" onmouseover="MM_swapImage('MenuAMP','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c2-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c2.jpg")"
                        alt="amplifiers" name="MenuAMP" width="111" height="41" border="0" id="MenuAMP" /></a>
            </td>
            <td colspan="2">
                <a href="@Url.RouteUrl("Catalog", new { controller = "Mixers" })" onmouseover="MM_swapImage('MenuMIX','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c5-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c5.jpg")"
                        alt="mixers" name="MenuMIX" width="111" height="41" border="0" id="MenuMIX" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = "Packs" })" onmouseover="MM_swapImage('MenuPCK','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c7-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c7.jpg")"
                        alt="pa systems" name="MenuPCK" width="112" height="41" border="0" id="MenuPCK" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = "Wireless" })" onmouseover="MM_swapImage('MenuWIR','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c8-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c8.jpg")"
                        alt="wireless systems" name="MenuWIR" width="111" height="41" border="0" id="MenuWIR" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = "Processors" })" onmouseover="MM_swapImage('MenuPRO','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c9-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c9.jpg")"
                        alt="processors &amp; modules" name="MenuPRO" width="111" height="41" border="0" id="MenuPRO" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = "Install" })" onmouseover="MM_swapImage('MenuINS','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c10-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c10.jpg")"
                        alt="install" name="MenuINS" width="111" height="41" border="0" id="MenuINS" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = "Distributors" })" onmouseover="MM_swapImage('MenuDIS','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c11-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c11.jpg")"
                        alt="distributors" name="MenuDIS" width="111" height="41" border="0" id="MenuDIS" /></a>
            </td>
            <td>
                <a href="@Url.RouteUrl("Catalog", new { controller = "Legacy" })" onmouseover="MM_swapImage('MenuLEG','','@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c12-up.jpg")',1)"
                    onmouseout="MM_swapImgRestore()">
                    <img src="@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c12.jpg")"
                        alt="legacy models" name="MenuLEG" width="111" height="41" border="0" id="MenuLEG" /></a>
            </td>
            <td>
                <img src="@Url.Content("~/Areas/Humanist/Content/Images/spacer.gif")" width="1" height="41" border="0" alt="" />
            </td>
        </tr>
    </tbody>
</table>
<map name="menu_r1_c1Map" id="menu_r1_c1Map">
    <area shape="circle" coords="66,66,52" href="@Url.RouteUrl("Catalog", new { controller = "Home" })" target="_top" />
</map>
<map name="menu_r3_c12Map" id="menu_r3_c12Map">
    <area shape="rect" coords="19,6,91,40" href="@Url.RouteUrl("Catalog", new { controller = "Home" })" target="_top" />
</map>
<script type="text/javascript" />
MM_onLoad( MM_preloadImages( '@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c1-up.jpg")',
'@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c2-up.jpg")', '@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c5-up.jpg")',
'@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c7-up.jpg")', '@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c8-up.jpg")',
'@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c9-up.jpg")', '@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c10-up.jpg")',
'@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c11-up.jpg")', '@Url.Content("~/Areas/Humanist/Content/Images/menu_r6_c12-up.jpg")'
) ); </script> 