@using Framework.Common.Extensions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

<h4>@Model.Assn_CategorySerie.Serie.Name.ToUpper() Series</h4>
<div class="title">
    <h1>@Model.Product.Name.ToUpper()</h1>
</div>

@foreach (var src_image in Model.Product.GetHiRes().OrderBy(i => i))
{
    <img src="@src_image" alt="@ViewBag.Title" />
}

@foreach (var package in Model.Product.ParentInPackages)
{
    if (!package.ChildProduct.GetHiRes().IsEmpty())
    {
        foreach (var src_image in package.ChildProduct.GetHiRes().OrderBy(i => i))
        {
            <img src="@src_image" alt="@ViewBag.Title" />
        }
    }
}

<div style="margin-bottom:30px;">
    <a href="@Model.Product.GetManual()" target="_blank" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Manual','','@Url.Content("~/Areas/Humanist/Content/Images/manual-top.jpg")',1)" style="margin-right:85px;">
        <img src="@Url.Content("~/Areas/Humanist/Content/Images/manual-bottom.jpg")" alt="user manual" name="Manual" width="100" height="100" border="0" id="Manual" /></a>
    
    <a href="@Url.RouteUrl("Detail", new { controller = ViewContext.RouteData.Values["controller"], id = Model.Id, name = Model.Product.Name.ToSeoSlug() })" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Back','','@Url.Content("~/Areas/Humanist/Content/Images/back-top.jpg")',1)" style="float:right;">
        <img src="@Url.Content("~/Areas/Humanist/Content/Images/back-bottom.jpg")" alt="back" name="Back" width="100" height="100" border="0" id="Back" /></a>
</div>
