@using Framework.Common.Extensions
@using Topppro.WebSite.Areas.Humanist.Resources
@using Topppro.WebSite.Areas.Humanist.Extensions

@model Topppro.Entities.Assn_CategorySerieProduct

<h4>@Model.Assn_CategorySerie.Serie.Name.ToUpper() Series</h4>
<div class="title">
    <h1>@Model.Product.Name.ToUpper()</h1>
</div>

@foreach (var src_image in Model.Product.GetHiRes().OrderBy(i => i))
{
    <img src="@src_image" alt="@ViewBag.Title" style="position: relative; left: -18px;" />
}

@foreach (var package in Model.Product.ParentInPackages)
{
    if (!package.ChildProduct.GetHiRes().IsEmpty())
    {
        foreach (var src_image in package.ChildProduct.GetHiRes().OrderBy(i => i))
        {
            <img src="@src_image" alt="@ViewBag.Title" style="position: relative; left: -18px;" />
        }
    }
}

<div style="margin-bottom:30px;">
    @Html.Manual()
    
    @Html.Back(new { style = "float:right;" })
    <br style="clear: both;" />
</div>
